#tiles {
    margin-top: 0px !important;
    padding-bottom: 50px !important;
}

.colombo-box-2 {
    padding-bottom: 10px !important;
}

.contact-form-area{
    padding-left: 30px;
}

.contact-top-text{
    text-align: left;
}

.condition-text{
    text-align: left;
}

.history-evolution-content{
    padding-left: 15px;
}

.pr-4, .px-4 {
    padding-right: 0.3rem!important;
}

.pl-4, .px-4 {
    padding-left: 0.3rem!important;
}

.home-craftmanship-img-area{
    padding-left: 0px;
    padding-right: 0px;
}

.home-craftmanship-img-container{
    padding-left: 5px;
    padding-right: 5px;
}

.home-3sections-area{
    padding-left: 0px;
    padding-right: 0px;
}

.menu-left{
    padding-left: 15px;
}

.news-inner-content{
    padding-left: 50px;
    padding-right: 50px;
}

.news-box{
    padding-top: 50px;
}

.glider-next, .glider-prev {
    top: 40%;
}

.product-inquire{
    margin-top: 130px;
    margin-bottom: 150px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.product-page-dropdown {
    padding-left: 48px;
}

.product-filter-icon {
    padding: 10px 5px;
    margin-top: -75px;
}

.news-inner-heading{
    max-width: 800px;
    margin: auto;
}

.privacy-subheading{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left !important;
  font-weight: 700;
  padding-top: 15px;
}

.privacy-content{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: left !important;
  padding-bottom: 10px;
  padding-top: 10px;
}