@import url(//db.onlinewebfonts.com/c/01661f50354ecd0a3560ac450ecf43d3?family=Bell+MT);
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("../font/Helvetica-Bold.woff"),
    url("../font/Helvetica-BoldOblique.woff"),
    url("../font/Helvetica-Oblique.woff"), url("../font/Helvetica.woff"),
    url("../font/helvetica-compressed-5871d14b6903a.woff"),
    url("../font/helvetica-light-587ebe5a59211.woff"),
    url("../font/helvetica-rounded-bold-5871d05ead8de.woff") format("woff");
}
@font-face {
  font-family: "Bell MT";
  src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot");
  src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.svg#Bell MT")
      format("svg");
}

@font-face {
  font-family: "Dai-Banna-SIL-Light-Bold";
  src: url("Dai-Banna-SIL-Light-Bold.ttf.woff") format("woff"),
    url("Dai-Banna-SIL-Light-Bold.ttf.svg#Dai-Banna-SIL-Light-Bold")
      format("svg"),
    url("Dai-Banna-SIL-Light-Bold.ttf.eot"),
    url("Dai-Banna-SIL-Light-Bold.ttf.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "new_helveticaregular";
  src: url("assets/frontend/font/net-proxima_nova_reg-webfont.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novaregular";
  src: url("assets/frontend/font/fontsfree-net-proximanova-regular_1-webfont.woff2")
      format("woff2"),
    url("assets/frontend/font/fontsfree-net-proximanova-regular_1-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "new_helveticaregular";
  src: local("Arial");
}

.sb {
  border: 1px solid black;
}

.display-ip11 {
  display: none !important;
}

p.flower-rd {
  font-weight: 400 !important;
}

p.colomb {
  font-weight: 400 !important;
}

#service-img h1 {
  font-family: "Bell MT" !important;
  color: #fff;
}

.guarantee-banner {
  background: url("../img/Guarantee_Banner.jpg") no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.after_sales_banner {
  background-size: cover !important;
  background-position: center !important;
}

.faq-banner {
  background: url("../img/faq-banner.jpg") no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

#sustain-img h1 {
  font-family: "Bell MT" !important;
}

#service-img-people h1 {
  font-family: "Bell MT" !important;
}

#service-img-news h1 {
  font-family: "Bell MT" !important;
}

#service-imgs h1 {
  font-family: "Bell MT" !important;
}

.f300 {
  font-weight: 300 !important;
}

.f400 {
  font-weight: 400 !important;
}

.f500 {
  font-weight: 500 !important;
}

.f600 {
  font-weight: 600 !important;
}

.f700 {
  font-weight: 700 !important;
}

.main-menu {
  padding-right: 0px !important;
}

.orange-hover:hover {
  color: #ff6b00 !important;
  text-decoration: none !important;
}

.orange-highlight,
.faq-highlight a {
  color: #ff6b00 !important;
}

#top-head {
  width: 90% !important;
  margin: auto;
}

#top-head ul {
  margin-right: 17px !important;
  margin-left: 0 !important;
}

#second-nav {
  width: 90% !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  display: flex !important;
  justify-content: center;
}

.people-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Open Sans", "Arial", sans-serif !important;
  margin-top: 15px;
  margin-left: 2px;
}

.mandatory {
  margin-left: 5px;
  color: #031f60;
  font-size: 17px;
}

.white-color {
  color: white !important;
}

#second-nav ul {
  width: 100% !important;
  padding: 0 !important;
  margin: auto;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  height: 61px;
}

#second-nav ul li {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#second-nav ul li:last-child {
  margin-right: 0 !important;
}

#second-nav ul li:hover {
  margin-left: 0px !important;
  padding: 0px !important;
  /* margin-right: 0px !important; */
}

#overlay {
  height: 100vh !important;
  max-height: 500px;
  overflow-y: scroll;
}

#overlay ul i {
  float: none;
  margin-top: -5px;
}

.mobile-dropdown-new {
  background-color: #ededed;
}

.mobile-view-all {
  color: #ff6b00 !important;
}

.mobile-dropdown-new a {
  font-family: "arial";
  color: #000;
  margin: 10px auto !important;
  font-weight: 300;
  font-size: 14px;
}

.mobile-sec-new {
  position: fixed;
  background: #fff;
  margin: 0 auto;
  display: block;
  width: 100%;
  z-index: 999999999;
}

.play-button i {
  color: #000;
  font-size: 50px;
}

.video-overlay-sus {
  background-image: url(../img/Sustainability_VideoThumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.video-overlay-sus h1 {
  margin-top: 40px;
  font-size: 50px !important;
  font-weight: 600;
  color: #fff;
}

.sustainability-video-box {
  max-width: 700px;
  margin: auto;
}

.timeline-border {
  /* border-right: 1px solid #fff; */
  padding-top: 25px;
  margin-top: -35px;
}

.timeline-text-last {
  margin-top: -9px;
}
a:hover {
  text-decoration: none;
}

.history-timeline-heading {
  font-size: 22px !important;
  font-style: normal !important;
}

.timeline-hr {
  background-color: #fff;
  margin-top: 40px;
  margin-left: -10px;
  margin-right: -10px;
}

.timeline-vr {
  border-left: 1px solid #fff;
  height: 15px;
  margin-top: -24px;
  margin-left: 32%;
}

.timeline-vr2 {
  border-left: 1px solid #fff;
  height: 15px;
  margin-top: -15px;
  margin-left: 66%;
}

.home-history-heading {
  text-align: center;
  padding-bottom: 15px;
}

.slick-carousel-area {
  padding: 0 100px !important;
}

.contact-link {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  line-height: 2 !important;
  color: rgb(86, 86, 86) !important;
  text-decoration: none !important;
  text-transform: none !important;
}

.our-story-button {
  font-family: "Bell MT";
  color: #727272 !important;
  /* border: 1px solid #404040; */
  border-radius: 5px;
  padding: 5px 0px;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 600;
  font-style: normal !important;
}

.mobile-menu-dropdown {
  background-color: #fff !important;
  font-size: 14px !important;
}

.mobile-menu-dropdown-item {
  font-size: 14px !important;
}

.mobile-menu-dropdown-viewall {
  font-size: 14px !important;
  color: #ff6b00 !important;
}

.mothers-day-button {
  color: #fff !important;
  text-decoration: underline;
  font-size: 15px;
  font-family: "Helvetica";
}

.care-for-jewellary {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: left !important;
}

.caring-inner-img-area {
  /* padding-top: 100px; */
}

.history-button {
  color: #fff;
  cursor: pointer;
  text-align: center !important;
  padding-bottom: 20px;
}

.active_new,
.history-button:hover {
  font-weight: 600 !important;
  color: #ff6b01 !important;
  padding-bottom: 20px;
}

#top-buttton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #04205f00;
  color: #fff;
  cursor: pointer;
  padding: 8px 8px 10px 10px;
  border-radius: 4px;
  border: 1px solid #04205f;
}

.faq-button {
  font-family: "Bell MT";
  font-size: 18px;
  color: #04205f;
  margin: 1rem auto !important;
  padding: 0 1rem !important;
  height: auto !important;
  line-height: 40px;
  width: 200px;
  text-align: center;
}

.faq-button:hover {
  border: 2px solid #04205f !important;
}

/* #top-buttton:hover{
  background-color: #04205f;
} */

.topbutton-arrow {
  color: #04205f;
}

.owl-prev {
  /*font-size: 40px !important;*/
  margin-right: 1.5rem !important;
}

.product-slider-arrow-space {
  padding: 10px;
}

.owl-next {
  /*font-size: 40px !important;*/
  margin-left: 1.5rem !important;
}

.owl-nav {
  display: block !important;
}

.people-top-section {
  padding-top: 50px;
}
/* 
.crafter-img-area{
  padding-left: 100px;
} */

.crafter-content-area {
  padding-top: 50px;
  /* padding-right: 100px; */
}

#feed-news h3 {
  width: 90% !important;
}

.crafter-sub-heading {
  letter-spacing: 5px;
  color: #ff6b00;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Open Sans", "Arial", sans-serif;
  margin-left: -23px;
}

.crafter-heading {
  font-family: "Bell MT";
  margin-left: -23px;
  color: #05205f;
}

.crafter-text {
  font-weight: 400;
  margin-left: -22px;
  color: black;
  font-size: 14px;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.diamond-content-area {
  padding: 50px 100px 0 100px;
}

.inquire-text {
  font-family: "Helvetica";
  font-size: 12px;
  text-transform: uppercase;
  color: #05205f !important;
  font-weight: 500;
  text-decoration: underline;
  padding-top: 15px;
  font-style: normal;
}

.inquire-num {
  font-family: "Bell MT";
  font-size: 17px;
  text-transform: uppercase;
  color: #05205f !important;
  font-weight: 600;
  text-decoration: underline;
  padding-top: 15px;
  font-style: normal;
}

.inquire-email {
  font-family: "Bell MT";
  font-size: 17px;
  text-transform: lowercase;
  color: #05205f !important;
  font-weight: 600;
  text-decoration: underline;
  padding-top: 15px;
  font-style: normal;
  text-decoration: none;
}

/* history page corrections */

.history_box {
  width: 100%;
  display: flex;
}

.left_image_section {
  width: 32%;
}

.content_section {
  width: 40%;
  margin: 0px -2%;
  z-index: 10;
}

.right_image_section {
  width: 32%;
}

.left_img1 {
  margin-top: 650px;
}

.left_img2 {
  margin-top: 280px;
  margin-left: 40px;
}

.right_img1 {
  margin-top: 650px;
}

.right_img2 {
  margin-top: 300px;
  margin-left: -50px;
}

.content_img1 {
  margin-top: 50px;
}

.first_content_section {
  margin-top: 45px;
}

.second_content_section {
  margin-top: 330px;
}

.staff-image {
  /* margin-top: 200px; */
  margin-bottom: 70px;
}

.staff-image img {
  width: 120%;
  margin: 0 -10%;
}

.third_content_section {
  margin-top: 50px;
}

.aftersale-side-img {
  padding-top: 175px;
}

/* history page corrections */

.history-button {
  font-family: "Bell MT" !important;
  font-style: normal !important;
  font-size: 18px !important;
}

.product-heading-section {
  background-color: #dbdbdb;
  padding: 50px 0;
}

.product-heading {
  font-family: "Bell MT";
  text-align: center;
  font-size: 30px;
}

.product-filter-box {
  border: 1px solid #b7b7b7;
  margin-top: 50px;
  margin-bottom: 30px;
}

.filter-box {
  display: none;
  margin-top: 50px;
}

.product-filter-box-content {
  font-family: "Montserrat", sans-serif;
  color: #ababab;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
}

.product-filter-box-icon {
  padding: 10px 5px;
}

.product-page-dropdown {
  width: 100%;
  height: 45px;
  border: 1px solid #b7b7b7;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 12px 10px;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: #ababab;
}

.product-page-dropdown:hover {
  width: 100%;
  height: 45px;
  border: 1px solid #b7b7b7;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 12px 10px;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: orange;
  padding-left: 48px;
}

.products-options {
  padding: 7px 0px;
  color: #ababab;
  background-color: #fff;
}

.products-options:hover {
  color: #ff6b00;
  background-color: #fff;
}

.product-item-heading {
  font-family: "Bell MT";
  font-size: 16px;
  text-align: center;
}

.product-item-description {
  font-family: "HelveticaNeue-Light";
  font-size: 12px;
  text-align: center;
  color: #969696;
}

.product-item-area {
  padding: 40px 0 40px 0;
  width: 100%;
  height: 250px;
}

.product-custamisation-section {
  padding: 77px 0;
}

.product-custamisation-heading {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.product-custamisation-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 115px;
}

.product-custamisation-icon-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #868686;
  width: auto;
  /*padding-left: 10px;
  padding-right: 15px;*/
}

.product-custamisation-icon-text:hover {
  color: #868686;
}

.product-collection-area {
  padding-top: 75px;
  padding-bottom: 175px;
}

.product-collection-content-area {
  background-color: #05205f;
  padding-top: 100px;
}

.product-collection-img-area {
  padding-right: 0px;
}

.product-collection-sub-heading {
  font-family: "helvetica-light-587ebe5a59211";
  font-weight: 300;
  color: #afafaf;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 0px;
}

.product-collection-heading {
  font-family: "Bell MT";
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.product-banner-heading {
  color: #fff !important;
}

.hover_div {
  position: relative;
  margin-bottom: 85px;
  cursor: pointer;
}

.hover_div .caption {
  position: relative;
  bottom: -35px;
  text-align: center;
  font-size: 10px;
  opacity: 0;
}

.hover_div:hover .caption {
  transition: all 1s;
  opacity: 1;
  bottom: 0px;
}

.hover_div:hover img {
  margin-top: -20px;
  transition: all 1s;
  opacity: 1;
}

.drop-d {
  margin-top: 0px !important;
}

.act-line {
  padding-bottom: 32px !important;
}

.highlight {
  font-weight: 600;
}

.hishighline {
  border-bottom: 4px solid #05205f !important;
}

.home-banner-bellow-content {
  font-family: "Bell MT";
  font-size: 20px;
  color: #fff;
}

.home-main-content {
  font-family: "Bell MT" !important;
  font-size: 17px !important;
}

.home-story-btn {
  font-family: "Bell MT" !important;
  font-size: 15px !important;
  text-align: center;
  text-transform: capitalize !important;
}

.home-special-card {
  text-transform: capitalize !important;
  font-family: "Bell MT" !important;
  color: white !important;
  padding-bottom: 10px !important;
}

.home-card-heading {
  font-family: "Bell MT" !important;
  font-size: 28px !important;
}

.home-craftman-text {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
}

.home-more-info {
  font-family: "Helvetica" !important;
  font-size: 12px !important;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.contact-faq-box {
  background-color: #05205f;
  padding-top: 65px;
  padding-bottom: 75px;
  margin-bottom: 50px;
}

.discover-toggle {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #05205f;
  font-weight: 600;
  text-decoration: underline;
  background-color: #fff;
  border: none;
}

.overview {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #8c8c8c;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px;
  padding-bottom: 7px;
  letter-spacing: 9px;
}

h1.obeserve {
  font-family: "Bell MT";
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-dis {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 14px;
}

.collection-cluster-img {
  margin-top: -25px;
  margin-left: 70px;
}

.jsec1 {
  padding-top: 0;
  padding-left: 1rem;
}

.collection-blockquote {
  font-family: "Helvetica Neue";
  color: #000;
  font-size: 25px;
  line-height: 1.6;
}

.collection-blockquote .fas {
  float: none !important;
}

.collection-blockquote i {
  color: #ff6b00;
}

.sb {
  border: 1px solid black;
}

.jsec2 {
  padding-bottom: 100px;
}

.jsec2 img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

section#find-place h1,
p {
  text-align: center;
}

.wrapper-find {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

ul#find-icon-sec li {
  float: left;
  padding: 0 25px;
  color: #000;
  text-decoration: underline;
}

#seek-help h2 {
  font-family: "Bell MT";
  line-height: 1.4;
  color: rgb(64, 64, 64);
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 100;
  font-size: 25px !important;
}

.service-sentnce p {
  color: #484848f0;
  line-height: 1.8;
  font-family: "Helvetica", Open Sans;
  font-size: 15px;
  font-style: italic;
}

.inq-tel {
  font-size: 16px;
  font-family: "Helvetica Light";
  font-style: normal;
  font-weight: 600;
  line-height: 2.333;
  color: rgb(69, 69, 69);
  margin-bottom: 0;
}

.inq-tel-num {
  font-family: "Bell MT";
  font-size: 20px;
  color: rgb(69, 69, 69);
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 2px;
}

.foot-link ul li:hover a {
  color: #ff6b00;
  transition: 300ms;
}

.collections_submenu .active {
  color: #ff6b00 !important;
  margin-left: 0px;
  border-bottom: solid #ff6b00 4px;
  width: fit-content;
}

.gemstone-passion-content {
  text-align: left;
  padding-right: 72px;
}

.gemstone-journey-content {
  text-align: left;
}

.gemstone-design-content {
  text-align: left;
}

.gemstone-craft-content {
  text-align: left;
}

.card-body p {
  line-height: 24px;
  color: rgb(69, 69, 69);
  text-align: left;
}

.inner-banner-heading {
  color: #fff;
}

.innerpages-subheading {
  text-align: left;
}

.innerpages-content {
  text-align: left;
}

.people-image-area {
  margin-top: -10%;
  margin-left: 37%;
}

.product-page-category-dropdown {
  display: block;
  width: 100%;
  text-align: center;
  color: black;
  font-family: "Bell MT";
  font-size: 20px;
}

.product-page-category-dropdown-box {
  display: none;
}

.product-page-category-dropdown:hover {
  color: #ff6b00;
}

.people-main-intro-area {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.aftesale-main-intro-area {
  padding-top: 100px;
  padding-left: 22px;
  padding-right: 100px;
}

.shipping-gift-description {
  padding-bottom: 15px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #fff !important;
  color: #869791 !important;
  text-decoration: none !important;
}

.owl-theme .owl-dots {
  display: none !important;
}

.collection-slider-heading {
  font-family: "Bell MT";
}

.sustainability-video {
  width: 100%;
  margin: 50px auto;
}

.crafter-text-new {
  font-style: italic !important;
  font-family: "Bell MT" !important;
  font-size: 17px !important;
  line-height: 35px !important;
  text-align: center;
}

.aftersale-intro {
  font-style: italic !important;
  font-family: "Bell MT" !important;
  font-size: 17px !important;
  line-height: 35px !important;
  text-align: left;
}

.faq-bullet {
  text-transform: uppercase;
}

.gem-feed-2 {
  margin-top: 120px !important;
}

.gem-feed-3 {
  margin-top: 100px !important;
}

.collection-inquire {
  margin-bottom: 150px;
}

.title-section-card-shipping {
  /* max-width: 75% !important; */
  margin-right: 20px !important;
}
.same-size-box-shipping {
  min-height: 170px !important;
}

.same-size-box-service {
  min-height: 200px !important;
}

.same-size-box-guarantee {
  min-height: 120px !important;
}

.faq-category-box {
  overflow: hidden;
}

.faq-sticky {
  position: sticky;
  top: 200px;
}

.para-quality {
  font-weight: 500 !important;
}
/* 
alignment fixes
*/

section#middle-three {
  transform: translateY(-55%) !important;
}

section#middle-three .container {
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

.three-sentence {
  height: 115px;
}

.three-sentence h4:before {
  top: 50px;
  width: 41px;
}

.disc-main {
  margin: 150px auto;
  padding-bottom: 80px;
  max-width: 820px;
}

.disc-main p {
  color: #000;
}

.disc-main .disk-link {
  color: #909090 !important;
}

#slid-product {
  margin-top: 150px;
  margin-bottom: 50px;
}

#card-main-page {
  margin-top: 100px;
  margin-bottom: 70px;
}

.wrap-final-card {
  margin-top: -65px !important;
  z-index: 10;
}

footer#footer-secs {
  border-bottom: 2px solid rgba(251, 128, 108, 0.97);
}

.footer-pattern {
  background: url(../img/head-img.png);
  background-repeat: repeat;
  box-sizing: border-box;
  height: 43px;
}

.wrap-icon-menu ul li {
  padding: 5px 0px 4px 0px;
  box-sizing: border-box;
}

.wrap-icon-menu ul li:hover {
  background-color: rgba(251, 128, 108, 0) !important;
  border: 2px solid #ff6b00 !important;
}

.wrap-icon-menu ul li:hover i {
  color: #ff6b00 !important;
}

.blue-box {
  max-width: 960px;
  margin: auto;
  transform: translateY(-80px) !important;
}

.blue-box .container {
  padding: 0px;
}

.blue-box .box-content {
  width: 100%;
  padding: 60px 60px !important;
}

.sustainability-blue-button {
  margin: 0 !important;
  z-index: 100;
  position: absolute;
  right: 25px;
  margin-top: 8rem !important;
}

.g-blue-button {
  margin: 0 !important;
  z-index: 100;
  position: absolute;
  right: 45px;
  margin-top: 8rem !important;
}

.contact-send-button {
  width: 100%;
  padding: 9px 0px;
  text-align: center;
  border-radius: 0px;
  background: #05205f;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Dai-Banna-SIL-Light-Bold";
}

.sustainablity-card-body {
  margin-top: 2.25rem !important;
}

.bell-heading {
  font-family: "Bell MT" !important;
  color: #031f60 !important;
  font-size: 28px !important;
}

.feed-sus-wrap {
  border-bottom: 0px !important;
}

.new-text {
  padding-left: 0px !important;
  padding-right: 100px !important;
}

.card-body a {
  font-size: 13px;
}

.gemstone-product-slider-new {
  background-color: #ededed !important;
  padding: 0px !important;
}

.gemstone-slider {
  width: 90% !important;
  margin: 0px auto;
  padding: 0px !important;
}

.gemstone-single {
  padding: 0px 20px 50px 20px !important;
}

.v-align-fix {
  padding-top: 2px;
  padding-left: 6px;
}

.collection-product-images {
  margin-top: 50px !important;
  padding: 80px 0 25px 0 !important;
}

.gemstone-title {
  font-family: "Bell MT";
  text-transform: uppercase;
  font-size: 16px;
}

.product-subheading {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.product-paragraph-gemstones-page {
  line-height: 24px;
  color: #909090;
}

.collection-content-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.collection-box-1 {
  margin-top: 200px;
}

.footer-quick-links li {
  padding: 0 8px;
}

/* 
alignment fixes
*/

#quality {
  padding-top: 0px;
}

#quality .topic {
  font-size: 25px;
  font-family: "Bell MT";
  color: rgb(64, 64, 64);
  line-height: 1.4;
  text-align: center;
  padding-top: 0px;
}

#quality h2 {
  font-size: 15px;
  text-align: left;
  font-weight: 600;
}

#quality .para-quality {
  font-size: 15px;
  font-family: "Helvetica", Open Sans;
  color: rgb(72, 72, 72);
  line-height: 1.667;
  text-align: center;
  width: 534px;
  display: block;
  margin: auto;
  /*margin-bottom: 2%;*/
  font-weight: 600;
  font-style: italic;
  padding-top: 2%;
  padding-bottom: 3%;
}

#quality {
  background-color: #ededed;
  overflow: hidden;
}

#quality .column-three {
  padding-bottom: 3%;
}

#quality h6 {
  font-size: 14px;
  font-family: "Helvetica";
  color: rgb(132, 132, 132);
  line-height: 1.786;
  font-style: oblique;
  width: 246px;
}

.banner-heading {
  font-family: "Helvetica Light";
  color: #fff;
  font-size: 48px;
  margin-top: -50px;
}

.dailytips-list {
  list-style: disc;
}

.custom-inquire-text {
  font-family: "Helvetica";
  font-size: 12px;
  text-transform: uppercase;
  color: #05205f !important;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  font-style: normal;
  line-height: 3;
}

.custom-inquire-text:hover {
  font-family: "Helvetica";
  font-size: 12px;
  text-transform: uppercase;
  color: #ff6b00 !important;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  font-style: normal;
  line-height: 3;
}

.custom-inquire-area {
  text-align: center;
}

.product-filtr-dropdown {
  width: 100%;
  border-radius: 0;
  padding: 5px 15px;
  margin-top: -1px;
}

.glider-track {
  justify-content: center !important;
  align-content: center !important;
}

.home-banner-bottom-content {
  font-size: 11px !important;
  text-align: left;
  padding-top: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
}

/* Start history slider*/

.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0px;
}

.slick-slide:first-child {
  margin-left: -7px;
}

.history-gallery {
  padding: 0px 14px;
}

.slick-list {
  margin: 0px;
}
button.slick-next,
button.slick-next:hover {
  margin-top: -75px;
  height: 60px;
  width: 30px;
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100 !important;
}
button.slick-prev,
button.slick-prev:hover {
  margin-top: -75px;
  height: 60px;
  width: 30px;
  background-image: url("../img/prev.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100 !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}

button.glider-prev,
button.glider-prev:hover {
  height: 60px;
  width: 30px;
  background-image: url("../img/prev.png");
  background-repeat: no-repeat;
  background-position: center;
}

button.glider-next,
button.glider-next:hover {
  height: 60px;
  width: 30px;
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
  background-position: center;
}

.glider-prev,
.glider-next {
  color: rgba(0, 0, 0, 0) !important;
}

.slider img {
  height: 310px;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: 5px;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-slide:focus {
  outline: none !important;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff
    url("http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif")
    center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot");
  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix")
      format("embedded-opentype"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff")
      format("woff"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf")
      format("truetype"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick")
      format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -40px;
}
[dir="rtl"] .slick-prev {
  right: -40px;
  left: auto;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
  font-weight: bold;
  font-size: 20px;
}

.slick-next {
  right: -40px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -40px;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* End history slider*/

/*.his-hover-hr-hb{
  background-color: #fff;
  max-width: 180px;
  margin-top: -13px;
}

.his-hover-hr-eow{
  background-color: #fff;
  max-width: 200px;
  margin-top: -13px;
}

.his-hover-hr-tc{
  background-color: #fff;
  max-width: 230px;
  margin-top: -13px;
}*/

.histort-hb {
  width: 62%;
  background-image: url(../img/history-hover-line-hb.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 75px;
}

.histort-hb:hover {
  width: 62%;
  background-image: url(../img/history-hover-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 75px;
}

.active_new-hb {
  width: 62%;
  background-image: url(../img/history-hover-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 75px;
}

.histort-eow {
  width: 75%;
  background-image: url(../img/history-hover-line-hb.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 36px;
}

.histort-eow:hover {
  width: 75%;
  background-image: url(../img/history-hover-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 36px;
}

.active_new-eow {
  width: 75%;
  background-image: url(../img/history-hover-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 36px;
}

.histort-tc {
  width: 85%;
  background-image: url(../img/history-hover-line-hb.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 2px;
  margin-top: -1px;
}

.histort-tc:hover {
  width: 85%;
  background-image: url(../img/history-hover-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 2px;
  margin-top: -1px;
}

.active_new-tc {
  width: 85%;
  background-image: url(../img/history-hover-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 2px;
  margin-top: -1px;
}

.his-gal-text {
  text-align: left;
  padding-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding-right: 7px;
  padding-left: 5px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .foot-link ul li,
  .foot-link ul,
  #bottom-copyright {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .footer-agency {
    margin-left: 0px !important;
    margin-top: 10px !important;
  }

  .blue-box {
    transform: translateY(-20px) !important;
    top: 50px;
  }

  .same-size-box-shipping {
    min-height: 50px !important;
  }
  .timeline-border {
    border-right: none;
    padding-top: 0px;
    margin-top: 0px;
  }

  .timeline-text-last {
    margin-top: 0px;
  }

  #slid-product {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .home-history-heading {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 75px;
  }

  .ellipsis {
    overflow: hidden;
    height: 100%;
  }

  .history-timeline-heading {
    font-size: 24px !important;
  }

  .mid-ft {
    padding-right: 10px;
  }

  #service-imgs h1 {
    font-size: 44px !important;
  }

  .title-section-card h2 {
    font-family: "Bell MT";
    color: rgb(255, 255, 255);
    line-height: 97px;
    text-align: right;
    font-size: 22px;
    padding-right: 45px;
  }

  .store-ps-box {
    padding-right: 35px !important;
  }

  .card-text {
    padding-bottom: 0px;
  }

  p.card-text {
    margin-bottom: 0px;
  }

  .font-img h4 {
    font-family: "Bell MT";
    color: rgb(255, 255, 255);
    line-height: 97px;
    text-align: center;
    font-size: 22px;
    padding-right: 40px;
  }

  /* .crafter-img-area{
    padding-left: 25px;
  } */

  .people-image-area {
    margin-top: -10%;
    margin-left: 0%;
  }

  .crafter-content-area {
    padding-right: 0px;
  }

  .crafter-sub-heading {
    text-align: center;
  }

  .crafter-heading {
    text-align: center;
  }

  .crafter-text {
    padding-left: 25px;
    padding-right: 25px;
  }

  .diamond-content-area {
    padding: 100px 15px 0 15px;
  }

  .gemstone-passion-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .product-custamisation-content {
    padding: 15px 25px;
  }

  .product-custamisation-icon-text {
    text-align: center;
    padding-bottom: 15px;
  }

  .blue-box .box-content {
    width: 100%;
    padding: 48px 25px !important;
  }

  .bell-heading {
    font-family: "Bell MT" !important;
    color: #031f60 !important;
    font-size: 28px !important;
    text-align: center;
  }

  .new-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .sustainability-craft-text {
    padding: 0 25px;
  }

  #quality .para-quality {
    width: 100%;
  }

  .disc-main {
    margin: -75px auto;
  }

  .gemstone-slider {
    width: 80% !important;
  }

  #feed-gem h5 {
    margin: 0 !important;
  }

  .aftesale-main-intro-area {
    padding-top: 100px;
    padding-left: 22px;
    padding-right: 30px;
  }

  .aftersale-intro {
    text-align: center;
  }

  .home-banner-bottom-content {
    font-size: 9px !important;
  }

  .three-sentence p {
    padding: 5px 0 !important;
    display: block;
  }

  .three-sentence h4 {
    line-height: 0px !important;
  }

  .three-sentence h4 {
    padding: 15px 0px;
  }

  .three-sentence h4:before {
    top: 32px;
  }

  .main-three-sec img {
    height: 120px;
  }

  button.slick-next,
  button.slick-next:hover {
    right: 9px;
  }
  button.slick-prev,
  button.slick-prev:hover {
    left: 9px;
  }

  .histort-hb {
    width: 62%;
    margin-left: 50px;
  }

  .histort-hb:hover {
    width: 62%;
    margin-left: 50px;
  }

  .active_new-hb {
    width: 62%;
    margin-left: 50px;
  }

  .histort-eow {
    width: 70%;
    margin-left: 40px;
  }

  .histort-eow:hover {
    width: 70%;
    margin-left: 40px;
  }

  .active_new-eow {
    width: 70%;
    margin-left: 40px;
  }

  .histort-tc {
    width: 80%;
    margin-left: 27px;
  }

  .histort-tc:hover {
    width: 80%;
    margin-left: 27px;
  }

  .active_new-tc {
    width: 80%;
    margin-left: 27px;
  }

  .slider img {
    height: 310px;
    width: 100%;
  }

  .hishigh {
    text-align: center !important;
  }

  .slick-track {
    margin-left: 0px;
  }

  #blue-box {
    top: 35px;
  }

  /* .diamond-crafter-text{
    padding-left: 50px;;
  } */
}

/* services popup css */

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  padding-top: 25px;
}

@media screen and (max-width: 700px) {
  .foot-link ul li,
  .foot-link ul,
  #bottom-copyright {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .footer-agency {
    margin-left: 0px !important;
    margin-top: 10px !important;
  }

  .box {
    width: 70%;
  }

  .blue-box {
    transform: translateY(-60px) !important;
  }

  .same-size-box-shipping {
    min-height: 50px !important;
  }

  .popup {
    width: 85%;
  }
  .gemstone-slider {
    width: 80% !important;
  }
  #slid-product {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  #feed-gem h5 {
    margin: 0 !important;
  }
  .product-paragraph-gemstones-page {
    display: block !important;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 735px) {
  .timeline-border {
    margin-top: -30px;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .timeline-text-last {
    margin-top: 0px;
  }

  .histort-hb {
    width: 30%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 150px;
  }

  .histort-hb:hover {
    width: 30%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 150px;
  }

  .active_new-hb {
    width: 30%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 150px;
  }

  .histort-eow {
    width: 35%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 139px;
  }

  .histort-eow:hover {
    width: 35%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 139px;
  }

  .active_new-eow {
    width: 35%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 139px;
  }

  .histort-tc {
    width: 40%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 128px;
    margin-top: -1px;
  }

  .histort-tc:hover {
    width: 40%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 128px;
    margin-top: -1px;
  }

  .active_new-tc {
    width: 40%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 128px;
    margin-top: -1px;
  }

  .content_section {
    width: 60%;
    margin: 0px -2%;
    z-index: 10;
    margin-left: 144px;
    padding-top: 15px;
  }

  .content_img1 {
    margin-top: 30px;
  }

  section#hissec {
    padding: 60px 0 60px 0;
  }

  .staff-image {
    margin-top: 70px;
  }

  .staff-image img {
    width: 114%;
    margin: 0 -10%;
  }

  button.slick-prev,
  button.slick-prev:hover {
    left: 14px;
  }

  button.slick-next,
  button.slick-next:hover {
    right: 14px;
  }

  .slick-track {
    margin-left: 0px;
  }

  .box-content {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  p.head-his {
    padding-bottom: 20px;
  }

  #blue-box {
    top: 95px;
  }

  .hishigh {
    text-align: center !important;
  }
}

@media screen and (min-device-width: 736px) and (max-device-width: 768px) {
  .foot-link ul li,
  .foot-link ul,
  #bottom-copyright {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .blue-box {
    transform: translateY(-60px) !important;
  }

  .footer-agency {
    margin-left: 0px !important;
    margin-top: 10px !important;
  }

  .same-size-box-shipping {
    min-height: 50px !important;
  }

  .product-custamisation-icon-text {
    padding-bottom: 15px;
  }
  .product-paragraph-gemstones-page {
    display: block !important;
  }

  #slid-product {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .home-history-heading {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 75px;
  }

  .ellipsis {
    overflow: hidden;
    height: 70%;
  }

  .slick-carousel-area {
    padding: 0 75px !important;
  }

  .title-section-card h2 {
    font-family: "Bell MT";
    color: rgb(255, 255, 255);
    line-height: 97px;
    text-align: center !important;
    font-size: 22px;
    padding-right: 0px !important;
  }

  .title-section-card {
    width: 90%;
    height: 97px;
    background-color: #031f60;
    margin: 0 auto;
    transform: translate(0, -57px);
    margin-right: 12px;
  }

  .card-text {
    padding-bottom: 0px;
  }

  p.card-text {
    margin-bottom: 0px;
  }

  .store-inquire-button {
    margin-bottom: 75px !important;
  }

  .seek-text-1 {
    padding: 0 0px 20px 0px;
  }

  .crafter-sub-heading {
    margin-left: 0px;
  }

  .crafter-heading {
    margin-left: 0px;
  }

  .crafter-text {
    margin-left: 0px;
    text-align: left;
  }

  .crafter-content-area {
    padding-right: 50px;
  }

  .diamond-content-area {
    padding: 100px 50px 0 50px;
  }

  .people-image-area {
    margin-left: 0%;
  }

  .people-name {
    line-height: 25px !important;
  }

  .product-custamisation-content {
    padding: 15px 100px;
  }

  .collection-bottom-btn-area {
    max-width: 600px;
    margin: auto;
  }

  .sustainability-blue-button {
    right: 8px;
  }

  #quality .para-quality {
    width: 100%;
  }

  .disc-main {
    margin: -75px auto;
  }

  .gemstone-slider {
    width: 80% !important;
  }

  #feed-gem h5 {
    margin: 0 !important;
  }

  .aftesale-main-intro-area {
    padding-top: 100px;
    padding-left: 22px;
    padding-right: 30px;
  }

  .aftersale-intro {
    text-align: center !important;
  }

  .three-sentence h4 {
    padding: 5px 0px;
  }

  .three-sentence h4:before {
    top: 35px;
  }

  .home-banner-bottom-content {
    font-size: 12px !important;
  }

  .main-three-sec img {
    height: 130px;
  }

  button.slick-next,
  button.slick-next:hover {
    right: 5px;
  }
  button.slick-prev,
  button.slick-prev:hover {
    left: 5px;
  }

  .histort-hb {
    width: 67%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 55px;
  }

  .histort-hb:hover {
    width: 67%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 55px;
  }

  .active_new-hb {
    width: 67%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 55px;
  }

  .histort-eow {
    width: 78%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 32px;
  }

  .histort-eow:hover {
    width: 78%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 32px;
  }

  .active_new-eow {
    width: 78%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 32px;
  }

  .histort-tc {
    width: 90%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0px;
    margin-top: -1px;
  }

  .histort-tc:hover {
    width: 90%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0px;
    margin-top: -1px;
  }

  .active_new-tc {
    width: 90%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0px;
    margin-top: -1px;
  }

  .slider img {
    height: 100%;
    width: 100%;
  }

  .left_img2 {
    margin-top: 120px;
    margin-left: 22px;
  }

  .hishigh {
    text-align: center !important;
  }

  .slick-track {
    margin-left: 0px;
  }
}

@media screen and (min-device-width: 826px) and (max-device-width: 1024px) {
  .product-paragraph-gemstones-page {
    display: block !important;
  }

  .left_img2 {
    margin-top: 295px;
    margin-left: 25px;
  }

  .right_img2 {
    margin-top: 300px;
  }

  .title-section-card {
    width: 80%;
    height: 97px;
    background-color: #031f60;
    margin: 0 auto;
    transform: translate(0, -57px);
    margin-right: 40px;
  }

  .sustainability-blue-button {
    right: 30px;
  }

  .main-three-sec img {
    height: 135px;
  }

  .three-sentence h4 {
    padding: 5px 0px;
  }

  .three-sentence h4:before {
    top: 35px;
  }

  .home-banner-bottom-content {
    font-size: 11px !important;
  }

  button.slick-next,
  button.slick-next:hover {
    right: 8px;
  }
  button.slick-prev,
  button.slick-prev:hover {
    left: 8px;
  }

  .histort-hb {
    width: 66%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 70px;
  }

  .histort-hb:hover {
    width: 66%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 70px;
  }

  .active_new-hb {
    width: 66%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 70px;
  }

  .histort-eow {
    width: 78%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 32px;
  }

  .histort-eow:hover {
    width: 78%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 32px;
  }

  .active_new-eow {
    width: 78%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 32px;
  }

  .histort-tc {
    width: 90%;
    background-image: url(../img/history-hover-line-hb.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0px;
    margin-top: -1px;
  }

  .histort-tc:hover {
    width: 90%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0px;
    margin-top: -1px;
  }

  .active_new-tc {
    width: 90%;
    background-image: url(../img/history-hover-line.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0px;
    margin-top: -1px;
  }

  .slider img {
    height: 100%;
    width: 100%;
  }

  .hishigh {
    text-align: center !important;
  }

  .slick-track {
    margin-left: 0px;
  }
}

@media screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
  .third_content_section {
    margin-top: 320px;
  }

  .staff-image {
    margin-bottom: 70px;
    /* padding-top: 100px; */
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .staff-image {
    margin-bottom: 70px;
    padding-top: 0px;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 825px) {
  #blue-box {
    top: 20px;
  }

  .histort-hb {
    width: 80%;
    margin-left: 20px;
  }

  .histort-hb:hover {
    width: 80%;
    margin-left: 20px;
  }

  .active_new-hb {
    width: 80%;
    margin-left: 20px;
  }

  .histort-eow {
    width: 92%;
    margin-left: 10px;
  }

  .histort-eow:hover {
    width: 92%;
    margin-left: 10px;
  }

  .active_new-eow {
    width: 92%;
    margin-left: 10px;
  }

  .histort-tc {
    width: 100%;
    margin-left: 0px;
    margin-top: -1px;
  }

  .histort-tc:hover {
    width: 100%;
    margin-left: 0px;
    margin-top: -1px;
  }

  .active_new-tc {
    width: 100%;
    margin-left: 0px;
    margin-top: -1px;
  }

  .box-content {
    width: 100%;
    padding: 35px 50px 50px 50px;
  }

  .content_img1 {
    margin-top: 0px;
  }

  button.slick-prev,
  button.slick-prev:hover {
    left: 7px;
  }

  button.slick-next,
  button.slick-next:hover {
    right: 6px;
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: 0px;
  }

  .hishigh {
    text-align: center !important;
  }
}
