.new-nav{
    width: 100%;
    height: 140px;
    z-index: 9999;
    background: url(../img/head-img.png);
    background-repeat: repeat;
    position: sticky;
    top: 0;
    -webkit-transition: height 0.4s linear;
    transition: height 0.4s linear;
}

.new-main-menu {
    width: 100%;
    max-width: 960px;
    height: 140px;
    background: #fff;
    margin: 0 auto;
    -webkit-transition: height 0.4s linear;
    transition: height 0.4s linear;
}

.new-scroll-height{
    height: 120px;
}

.new-logo{
    opacity: 1;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    transition-delay: 600ms;
    visibility: visible;
    margin-top: -3rem !important;
    max-width: 130px;
}

.new-logo-li{
    width: 130px;
    box-sizing: border-box;
    padding: 0px !important;
}

.new-logo-li a{
    box-sizing: border-box;
    padding: 0px !important;
}

.new-top-bar{
    height: 95px;
    transition: height 0.4s linear;
}

.new-small-logo{
    width: 50px;
    margin: 40px;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    transition-delay: 600ms;
    visibility: hidden;
    margin-top: -3.75rem !important;
}

.logo-transition{
    opacity: 0;
    visibility: hidden;
}

.logo-small-transition{
    opacity: 1;
    visibility: visible;
}

.new-top-bar-transition{
    visibility: hidden;
    height: 75px;
}

.new-second-menu{
    height: 64px;
}