@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  div#carouselExampleIndicators img {
    height: auto !important;
  }

  .slick-slide:first-child {
    margin-left: 0px;
  }

  .history-gallery {
    padding: 0px;
  }

  .caring-inner-img {
    padding-left: 50px;
  }

  .product-filter-box {
    margin-left: 15px;
    margin-right: 15px;
  }

  .product-collection-content-area {
    padding-top: 60px;
  }

  .product-collection-area {
    padding-top: 75px;
    padding-bottom: 0px;
    padding-right: 15px;
  }

  .three-sentence {
    top: 0;
    max-width: 80%;
  }

  .home-featured-box {
    margin-top: -20px !important;
    padding-top: 0px !important;
    margin-bottom: 30px !important;
  }

  .home-featured-box2 {
    margin-top: -20px !important;
    padding-top: 0px !important;
    margin-bottom: 30px !important;
  }

  #special-ship .caid-image {
    height: 230px;
  }

  #special-ship .caid-image img {
    top: 0px !important;
  }

  .wrap-final-card {
    margin-top: 60px !important;
  }

  .mobile-craftmanship {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
  }

  .home-craftmanship-img-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #service-img {
    height: 70vh !important;
  }

  #service-imgs {
    height: 70vh !important;
  }

  #service-img h1 {
    padding-top: 0px !important;
  }

  #sustain-img {
    height: 70vh !important;
  }

  #sustain-img h1 {
    margin-top: 25vh !important;
  }

  #service-img-people {
    height: 70vh !important;
  }

  #service-img-people h1 {
    margin-top: 25vh !important;
  }

  .box-content {
    padding-bottom: 20px;
  }

  .timeline-hr {
    margin-top: 20px;
  }

  .content_section {
    width: 90%;
    margin: auto;
    padding-top: 40px;
  }

  .second_content_section {
    margin-top: 100px;
  }

  .history-evolution-content {
    padding-left: 0px;
  }

  .staff-image img {
    width: 100%;
    margin: 0 !important;
  }

  .sustainability-blue-button {
    right: 30px;
    width: 74%;
  }

  .sustainability-blue-button h4 {
    margin-right: -30px;
  }

  .people-main-intro-area {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .crafter-text {
    margin-left: 0px;
  }

  .crafter-sub-heading {
    margin-left: 0px;
  }

  .crafter-heading {
    margin-left: 0;
  }

  #feed_people .feed_people-wrap {
    padding-top: 80px;
  }

  #feed_people p {
    min-height: 50px;
    height: auto !important;
  }

  .news-slider-mobile {
    width: 90%;
    margin: auto;
  }

  .news-inner-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mobile-fixed-return-title {
    margin-right: 35px !important;
  }

  .product-item-area {
    margin-left: 0px !important;
  }

  .new-text {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .guarantee-inner-top-space {
    margin-top: 50px;
  }

  .font-img-guarantee {
    width: 80% !important;
    height: 95px;
    background: url("../img/tile-front-01.jpg");
    padding: 10px !important;
    margin-right: 3rem !important;
  }

  .g-blue-button {
    right: 30px;
  }

  .contact-form-area {
    padding-left: 15px;
  }

  .people-main-intro-area {
    padding-top: 50px !important;
  }

  .after-sale-banner-text {
    margin-top: 100px !important;
  }

  .title-section-card {
    margin-right: 30px !important;
  }

  .font-img-sus {
    width: 74%;
  }

  #main-head {
    padding-top: 160px;
  }
  .main-slider-img-area {
    margin-top: 60px !important;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #main-head {
    padding-top: 160px;
  }
  .main-slider-img-area {
    margin-top: 30px !important;
  }
  #middle-three {
    width: 90% !important;
    margin: auto;
  }

  .slick-slide:first-child {
    margin-left: 0px;
  }

  .history-gallery {
    padding: 0px 3px;
  }

  .home-featured-box {
    margin-top: -20px !important;
    padding-top: 0px !important;
  }

  .home-featured-box2 {
    margin-top: -35px !important;
    padding-top: 0px !important;
  }

  .wrap-final-card {
    margin-bottom: 50px;
  }

  .home-main-content {
    margin-bottom: 10px !important;
  }

  .product-collection-content-area {
    padding-top: 50px;
  }

  .product-bottom-sections {
    padding-right: 30px;
  }

  #service-img {
    height: 70vh !important;
  }

  .history-button {
    font-size: 14px !important;
  }

  .box-content {
    padding-top: 64px;
    padding-bottom: 5px;
  }

  .new-text {
    padding-right: 20px !important;
  }

  .sustainability-blue-button h4 {
    margin-right: -5px;
  }

  .title-section-card {
    width: 80%;
  }

  .title-section-card-shipping {
    margin-right: 10px !important;
  }

  .title-section-card h2 {
    font-size: 15px;
    margin-right: 20px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .mobile-fixed-return-title {
    margin-right: 45px !important;
  }

  .guarantee-inner-top-space {
    margin-top: 50px;
  }
  .g-blue-button {
    right: 7px;
  }

  .contact-form-area {
    padding-left: 15px;
  }

  .title-section-card-contact {
    margin-right: 25px !important;
  }

  .title-section-card-contact h2 {
    font-size: 22px !important;
  }

  #service-imgs h1 {
    margin-top: 80px !important;
  }

  .same-size-box-service {
    min-height: 320px !important;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #middle-three {
    width: 70% !important;
    margin: auto;
  }

  .slick-slide:first-child {
    margin-left: 0px;
  }

  .history-gallery {
    padding: 0px 7px;
  }

  #second-nav ul li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #service-img-people {
    height: 35vh;
  }

  .product-custamisation-icon-text {
    font-size: 10px;
  }

  .history-button {
    font-size: 16px !important;
  }

  .g-blue-button {
    right: 30px;
  }

  .same-size-box-guarantee {
    min-height: 160px !important;
  }
}

@media screen and (min-device-width: 812px) {
  .display-ip11 {
    display: block !important;
  }
}
