@import url(//db.onlinewebfonts.com/c/01661f50354ecd0a3560ac450ecf43d3?family=Bell+MT);
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("../font/Helvetica-Bold.woff"),
    url("../font/Helvetica-BoldOblique.woff"),
    url("../font/Helvetica-Oblique.woff"), url("../font/Helvetica.woff"),
    url("../font/helvetica-compressed-5871d14b6903a.woff"),
    url("../font/helvetica-light-587ebe5a59211.woff"),
    url("../font/helvetica-rounded-bold-5871d05ead8de.woff") format("woff");
}
@font-face {
  font-family: "Bell MT";
  src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot");
  src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.svg#Bell MT")
      format("svg");
}

@font-face {
  font-family: "Dai-Banna-SIL-Light-Bold";
  src: url("Dai-Banna-SIL-Light-Bold.ttf.woff") format("woff"),
    url("Dai-Banna-SIL-Light-Bold.ttf.svg#Dai-Banna-SIL-Light-Bold")
      format("svg"),
    url("Dai-Banna-SIL-Light-Bold.ttf.eot"),
    url("Dai-Banna-SIL-Light-Bold.ttf.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "new_helveticaregular";
  src: local("Arial");
}

.ellipsis {
  height: 151px;
  overflow: hidden;
  height: 125px;
}
.description {
  padding: 3px;
  margin-top: 30px;
  margin-bottom: 0;
}

.offset-lg-2 {
  margin-left: 8.666667% !important;
}

#drop-one .col-md-3 {
  max-width: 21% !important;
}

.btactive {
  color: #ff6b00;
}

#top-head-idle ul li:nth-child(1) {
  padding-right: 0px;
}

section#drop-one ul li a:hover {
  color: red;
  transition: 200ms;
}
.hicolor a {
  color: #ff6b00 !important;
}
.drow-ico i:hover {
  color: #ff6b00;
  cursor: pointer;
}

#drop-two ul li a:hover {
  color: #ff6b00;
}

#drop-one {
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  height: 350px;
  margin-top: 0px;
  z-index: 999;
  transition: 1s;
}
.container.wrap-dorop {
  /*margin-left: 153px;*/
}
#drop-two {
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  height: 362px;
  margin-top: 0px;
  z-index: 999;
  transition: 1s;
}
#drop-two ul {
  padding-left: 0;
}

section#drop-two h4 {
  font-family: "Helvetica";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800 !important;
  padding-bottom: 33px;
  padding-top: 40px;
}
section#drop-two ul li a {
  font-family: "Bell MT";
  text-decoration: none;
  font-size: 16px;
  color: #000;
  line-height: 1.882;
}

section#drop-two .auth-image {
  padding-top: 42px;
  width: 85%;
}
section#drop-two .auth-image2 {
  padding-top: 28px;
  width: 85%;
}
p.colomb {
  color: #565656;
  font-size: 14px;
  font-weight: 600;
}
p.flower-rd {
  padding-top: 42px;
  color: #454545;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
}
.clt-image {
  padding-left: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: #f2f2f2;
}
#drop-two .drow-ico {
  display: inline-block;
  margin-left: -17px;
  padding-top: 5px;
}
.drow-ico li {
  float: left;
  padding: 0px 20px;
}
.display-on {
  display: block !important;
  transition: 1s;
}

/*submenu01*/

/*drop one*/
section#drop-one h4 {
  font-family: "Helvetica";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800 !important;
  padding-bottom: 33px;
  padding-top: 40px;
}

section#drop-one ul li a {
  font-family: "Bell MT";
  text-decoration: none;
  font-size: 16px;
  color: #000;
  line-height: 1.882;
}
section#drop-one ul {
  padding-left: 0px;
}
li.vall-btn a {
  font-size: 14px !important;
  color: #ff6b00 !important;
}
/*.about-pln:hover #first-drop1 {display: block }*/

.normal-sub {
  display: block;
}

/*panel color*/

.panelsec-pd {
  background: #f2f2f2;
  padding-top: 50px;
}
.panelsec-pdd {
  padding-top: 50px;
}

/*.display-on{*/
/*    display: block;*/
/*}*/

li.icons i {
  margin-right: 8px;
}
section#first-drop1 img {
  padding-bottom: 27px;
}
li.icons {
  margin-top: 39px;
}
.panel-time {
  color: #565656;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  font-size: 12px;
}
p.colmbo7 {
  font-size: 15px;
  color: #565656;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
}
p.addres7 {
  font-family: "Open Sans", Helvetica;
  color: #565656;
  font-weight: 600;
  font-size: 14px;
}

#first-drop {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 140px;
  background: #fff;
  z-index: 99;
}
.tog {
  display: block;
}
#first-drop1 {
  width: 100%;
  height: 65vh;
  position: absolute;
  top: 140px;
  background: #fff;
  z-index: 99;
  display: none;
}

section#first-drop ul {
  padding-left: 0;
}
section#first-drop1 ul {
  padding-left: 0;
}
.sub-wrap {
  padding-top: 0px !important;
}
.sub-wrap h4 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 50px;
  text-transform: uppercase;
}

#first-drop ul li a {
  text-decoration: none;
  font-family: "Bell MT";
  color: #000;
}
#first-drop1 ul li a {
  text-decoration: none;
  font-family: "Bell MT";
  color: #000;
}

#first-drop ul li a:hover {
  color: red;
}

#first-drop1 ul li a:hover {
  color: red;
}
section#first-drop ul li {
  padding: 2px 0;
}
section#first-drop1 ul li {
  padding: 2px 0;
}
/*end submenu*/

.policy {
  display: none;
}

/*finla chage*/
i.fas.fa-chevron-right {
  display: none;
}
select.langselectbar {
  display: none;
}

#second-nav-idle ul li:nth-child(1) {
  padding-left: 0px;
}
#second-nav-idle ul li:nth-child(7) {
  padding-right: 0px;
}
#text-serch {
  margin-top: -5px;
}
/* end finla chage*/

.collection-show {
  display: none;
}

ul {
  list-style: none;
}

/* contact page style */
.faq-button {
  width: 165px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  line-height: 46px;
  border: solid 2px #c2c2c2;
  margin-top: 30px;
}

.faq-button a {
  font-family: "Bell MT";
  text-decoration: none;
  font-style: italic;
  color: #fff;
  line-height: 45px;
  font-size: 18px;
}

.contact-top-text p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8;
}

.custom-control.custom-radio {
  display: inline;
}

.contact-top-text {
  margin-top: -6px;
}

/*fonm section*/
form.form-section {
  padding-top: 23px;
}
label {
  font-size: 14px;
  color: #565656;
  font-weight: 600;
  margin-bottom: 14px !important;
}

select#exampleFormControlSelect1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
}

input#exampleInputEmail1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
  height: 38px;
}
textarea#exampleFormControlTextarea1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
}

.box-sec-from {
  padding-top: 0px;
}

.send-contat {
  width: 100%;
  height: 50px;
  background: #05205f;
  text-align: center;
  line-height: 50px;
}

.send-contat a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

h2.contant-service-text {
  font-size: 30px !important;
}

.service-sentnce {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  font-weight: 600;
}

.service-sentnce p {
  color: #484848f0;
  line-height: 1.8;
}
.inq-tel-num {
  font-family: "Helvetica Light";
  font-size: 20px;
  color: rgb(69, 69, 69);
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 2px;
}
.inq-tel {
  font-size: 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  line-height: 2.333;
  color: rgb(69, 69, 69);
  margin-bottom: 0;
}

.phone-number {
  padding-bottom: 50px;
}
/* end style */

#top-head-idle ul li a:hover {
  color: #ff6b00;
  transition: 300ms;
}
.serv-title {
  text-align: right !important;
  padding-right: 60px !important;
}
#text-serch {
  display: none;
}

.policy {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #182e63c7;
  top: 141px;
  color: #fff;
}

span.policy-text {
  font-size: 14px;
  line-height: 40px;
}

span.policy-close {
  position: absolute;
  right: 11px;
  padding: 9px 10px;
  font-size: 20px;
  top: -5px;
  cursor: pointer;
}

span.policy-close:hover {
  color: #ff6b00;
}

#second-nav-idle ul li:hover a {
  color: #ff6b00;
}

/* header section */
div#top-head-idle ul {
  margin-right: 4px;
  margin-top: -8px;
}

ul.language-list {
  margin-left: -15px;
}
/*end header section */
/*mobile section */
/* scroll navitgation */
.scrollUp {
  transition: 1s;
  transform: translateY(-100px);
}
.sticky {
  display: none;
  transition: 1s;
}
.stickyshow {
  display: block;
  transition: 1s;
}

.stickynav {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  left: 50%;
  margin-left: -50%;
  background: url(../img/head-img.png);
  box-shadow: 3px -3px 10px 0px #525252;
}

.stik-nav ul {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.nanigation-stick {
  max-width: 960px;
  height: 110px;
  background: #fff;
  margin: 0 auto;
}

.stik-nav ul {
  padding-top: 3em;
  padding-right: 41px;
}

.stik-nav ul li {
  padding: 0 24px;
}

.logoStick {
  margin-top: -35px !important;
}
.stik-nav ul li a {
  font-family: "Open Sans", Helvetica;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  padding: 0 6px;
  font-weight: 500;
}

img.search-ico {
  top: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.stik-nav ul li:hover {
  border-bottom: solid #ff6b00 4px;
}

.stik-nav ul li {
  padding-bottom: 0px;
  cursor: pointer;
  transition: 300ms;
  padding: 4px 19px 27px 28px;
}
.stik-nav ul li:hover:nth-child(4) {
  border: none;
  cursor: none;
}
.active {
  border-bottom: solid #ff6b00 4px;
}

.title-section-card h2 {
  margin-left: 20px;
}

.foot-link ul li:hover a {
  color: #ff6b00;
  transition: 300ms;
}
/*heder icon*/
i.fas.fa-chevron-right {
  position: absolute;
  top: 46px;
  left: 60px;
  font-size: 13px;
  color: #0000008f;
}

select.langselectbar {
  font-family: "Helvetica Oblique";
  font-size: 14px;
}
/* end sitck */
#overlay {
  display: none;
}
.mobile-toggle {
  display: none;
}
.mobile-nav-sec {
  display: none !important;
}
.mobile-nav-sec {
  width: 100%;
  height: 160px;
}
.img-tag {
  width: 150px;
  height: 110px;
}
.img-tag img {
  width: 100%;
  height: auto;
}

.mobile-nav-sec {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.img-tag h4 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  font-weight: normal;
  color: #555;
}
.fa,
.fas {
  font-weight: 900;
  float: right;
  font-size: 19px;
  margin-top: 5px;
  padding-left: 7px;
}
/* end mobile */
/* header */
ul.language-list {
  float: left;
}

.search {
  outline: none;
  /* box-shadow: 0 4px 5px #efefef; */
  height: 27px;
  /* width: 16%; */
  width: 64%;
  border: 2px solid #bdb8b8;
  background-color: white;
  /* border-radius: 16px 16px 16px 16px; */
  /* margin-left: -14px; */
  margin-left: -2px;
  border: 0;
  border-bottom: 1px solid black;
}

.langselectbar {
  outline: none;
  border: none;
}
/* end header */

/* currunt tuf */

#service-img h1 {
  font-family: "Helvetica Light";
  color: #fff;
  font-size: 48px;
  margin-top: -50px;
}
.mid-ft {
  font-family: "Helvetica Oblique";
  color: #fff;
  font-size: 55px;
  font-style: oblique;
}
#main-menu-idle-back {
  height: 140px;
  background: url(../img/head-img.png);
  background-repeat: repeat;
  box-sizing: border-box;
  position: relative;
}
.main-menu-idle {
  max-width: 960px;
  height: 140px;
  background: #fff;
  margin: 0 auto;
  padding-right: 30px;
  position: relative;
}
#top-head-idle ul li {
  display: inline-block;
  float: right;
  padding: 20px 16px 40px 15px;
}
#top-head-idle ul li a {
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  color: #a0a0a0;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}
.fa,
.fas {
  font-weight: 900;
  padding-right: 10px;
  color: #4e4e4e;
}

div#second-nav-idle {
  display: inline-block;
  margin: 0 auto;
  margin-top: -18px;
}
#second-nav-idle ul li {
  display: inline-block;
  padding: 0 10px;
  padding-left: 27px;
  padding-right: 17px;
  padding-bottom: 24px;
}
ul.shiping-nav {
  padding-top: 12px;
}

#second-nav-idle ul li:hover:nth-child(4) {
  border: none;
}

#second-nav-idle ul li:hover {
  border-bottom: solid #ff6b00 4px;
}

/* header */
div#second-nav-idle ul li a {
  font-family: "Open Sans", Helvetica;
  color: rgb(24, 24, 24);
  text-decoration: none;
  font-size: 14px;
  padding: 0 6px;
  font-weight: 500;
}
/* end header */

/* re arange logoo */
img.logo {
  margin-top: -3em !important;
  width: 130px;
}

#service-img {
  background: url(../../img/Shipping_Banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#blue-box {
  width: 100%;
  margin-top: -6rem;
}
.box-content {
  padding: 66px 90px;
  background: #05205f;
  width: 90%;
  margin: auto;
  transform: translateY(12px) !important;
}
.box-content p {
  font-family: "Bell MT";
  font-size: 20px;
  line-height: 1.75;
  color: #fff;
  text-align: center;
  font-style: italic;
  margin-bottom: -4px;
}

.card-img-top {
  width: 93%;
  height: 185px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.cotact-link a {
  font-weight: 700;
  font-family: "Helvetica";
  color: rgb(59, 59, 59);
  text-decoration: underline;
  line-height: 2.917;
  cursor: pointer;
  font-size: 12px;
}

/* tile section */

#tiles {
  margin-top: 98px;
  padding-bottom: 0px;
}
.font-img {
  width: 259px;
  height: 95px;
  background: url("../img/patern-final.jpg");
  margin: -3rem auto 0 auto;
}
.font-img h4 {
  font-family: "Bell MT";
  color: rgb(255, 255, 255);
  line-height: 97px;
  text-align: right;
  font-size: 22px;
  padding-right: 60px;
}

/* card section  */
.faq-tit {
  font-family: "Open Sans", Helvetica;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  color: rgb(64, 64, 64);
}
.faq-body p {
  padding: 20px;
  text-align: justify;
  font-family: "Open Sans", Helvetica !important;
}
.fa-angle-down:before {
  content: "\f107";
  color: #1a73e8;
  opacity: 0.7;
}

.rot-ico {
  transform: rotate(180deg);
}
div#accordionEx {
  padding-bottom: 30px;
}
.card-header a {
  text-decoration: none;
}

.title-section-card {
  width: 80%;
  height: 97px;
  background-color: #031f60;
  margin: 0 auto;
  transform: translate(0, -57px);
  margin-right: 47px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #5a5555;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(218, 218, 218);
}

.title-section-card h2 {
  font-family: "Helvetica Oblique";
  color: rgb(255, 255, 255);
  line-height: 97px;
  text-align: center;
  font-size: 22px;
}

.patarn-img {
  float: right;
  width: 54px;
  height: 97px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/patern-final.jpg);
}
.card {
  border: none;
}
.card-body {
  /* padding-top: 54px !important; */
  padding-bottom: 1.2rem !important;
  padding-left: 0px !important;
  padding-right: 1.2rem !important;
}

.card-body.bd-body:after {
  content: "";
  width: 90%;
  height: 1px;
  background: #8e8a8a52;
  position: absolute;
}

p.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgb(69, 69, 69);
  line-height: 1.6;
  margin-top: -26px;
  text-align: left;
  border-bottom: solid 10px #ffffff;
}
.card-body a {
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  text-transform: uppercase;
  color: #05205f;
  font-weight: 600;
  text-decoration: underline;
}
p.card-btn a {
  font-size: 14px;
  color: rgb(5, 32, 95);
  line-height: 2.917;
  text-decoration: underline;
  text-align: left;
  font-weight: 600;
  font-family: "Open Sans", Helvetica;
}
p.card-text.middle-txt {
  padding-bottom: 30px;
}
/* seek-help */
#seek-help {
  height: auto;
  background: #ededed;
  text-align: center;
}

#seek-help h2 {
  font-family: "Helvetica Light";
  line-height: 1.4;
  color: rgb(64, 64, 64);
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 25px;
}

.seek-text {
  padding: 0 20px;
}

#seek-help form {
  width: 100%;
}
.form-sec {
  padding-bottom: 46px;
}

.seek-text p {
  font-size: 14px;
  color: rgb(132, 132, 132);
  padding-bottom: 40px;
  line-height: 1.786;
  font-style: italic;
  font-weight: 400;
}

p.cotact-link {
  padding-bottom: 23px;
}

/* form section */
input.form-control.input-seek {
  font-family: "Open Sans", Helvetica;
  border-radius: 0;
  font-weight: 600;
  border: solid 1px #a4a4a4 !important;
  height: 41px !important;
  background: #ededed;
  font-size: 14px;
}

select.form-control.form-control-sm.drop-seek {
  font-family: "Open Sans", Helvetica;
  border-radius: 0;
  font-weight: 600;
  border: solid 1px #a4a4a4 !important;
  height: 41px !important;
  background: #ededed;
  font-size: 14px;
}

/* form end */

/* Quality section */

#quality {
  padding-top: 40px;
}

#quality .topic {
  font-size: 25px;
  font-family: "helvetica-light";
  color: rgb(64, 64, 64);
  line-height: 1.4;
  text-align: center;
  padding-top: 0px;
}

#quality h2 {
  font-size: 15px;
  text-align: left;
  font-weight: 600;
}

#quality .para-quality {
  font-size: 15px;
  font-family: "Helvetica", Open Sans;
  color: rgb(72, 72, 72);
  line-height: 1.667;
  text-align: center;
  width: 534px;
  display: block;
  margin: auto;
  margin-bottom: 2%;
  font-weight: 600;
  font-style: italic;
  padding-top: 2%;
  padding-bottom: 2%;
}

#quality {
  background-color: #ededed;
  overflow: hidden;
}

#quality .column-three {
  padding-bottom: 3%;
}

#quality h6 {
  font-size: 14px;
  font-family: "Helvetica";
  color: rgb(132, 132, 132);
  line-height: 1.786;
  font-style: oblique;
  width: 246px;
}

/* media queries */

@media only screen and (max-width: 970px) {
  #quality .para-quality {
    display: block;
    margin: auto;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    padding-left: 0%;
  }
  #quality .column-three h6 {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    font-size: 13px;
  }
  #quality .column-three h2 {
    padding-top: 10%;
    padding-bottom: 2%;
    width: 100%;
  }

  .card-text {
    margin-bottom: 12%;
  }
}

/* end seek-help */

/* feed-ship */
#feed-ship {
  height: auto;
  padding-top: 84px;
}
#feed-ship h3 {
  font-size: 25px;
  margin-top: -7px;
  font-family: "Helvetica Light";
  color: rgb(28, 28, 28);
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 42px;
}

#feed-ship p {
  font-family: "HelveticaNeue-Light";
  font-size: 17px;
  color: rgb(69, 69, 69);
  line-height: 1.6;
  text-align: left;
}

#feed-ship img {
  height: 310px;
  width: 310px;
  padding-left: 3%;
}
#feed-ship .feed-ship-sec-text {
  padding-bottom: 5px;
}

#feed-ship .feed-ship-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 1px #d5d5d5;
}

.final-text {
  font-style: italic;
  color: #141414 !important;
}

i.fas.fa-search {
  position: absolute;
  right: 0;
  top: 6px;
  margin-right: 20px;
  color: #606060;
  transform: rotate(90deg);
}

.photo-cust {
  width: 309px;
  height: 309px;
}

/************************* card section colombo *************************************/
.colombo-box {
  padding: 0;
  margin-top: -20px;
  font-size: 15px;
  color: rgb(86, 86, 86);
  line-height: 1.8;
  font-family: "Helvetica";
  font-weight: 600;
}

.colombo-box-1 {
  font-family: "Helvetica";
  line-height: 1.8;
  font-size: 14px;
  color: rgb(86, 86, 86);
  font-weight: 500;
  padding-top: 17px;
}
.colombo-box-2 {
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: bold;
  color: rgb(69, 69, 69);
  line-height: 2.25;
  margin-top: -5px;
}

.craft-h {
  font-size: 13px;
  font-family: "Helvetica";
  line-height: 2.25;
  color: rgb(86, 86, 86);
  font-weight: 800;
}

.craft-address {
  font-size: 12px;
  font-family: "Helvetica";
  line-height: 2;
  color: rgb(86, 86, 86);
}
/************************* end card *************************************/

/************************* form section *************************************/
.condition-text {
  font-size: 13px;
  font-style: italic;
  color: #707070;
  line-height: 1.8;
  font-weight: 600;
  font-family: "Open Sans", Helvetica;
}

.send-btn-sec {
  padding-top: 12px;
}

.send-button {
  padding: 9px 77px;
  border-radius: 0px;
  background: #05205f;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Dai-Banna-SIL-Light-Bold";
}

.btn-link:hover {
  color: #fff;
  background-color: #05205fd9;
  border-color: transparent;
  text-decoration: none;
}
.modal-content {
  border: dashed #011a5f 1px;
  border-radius: 0px;
}
.send-button {
  width: 100%;
}
/************************* end form secion *************************************/

/*************************recaptcha *************************************/
.rc-anchor-normal {
  height: 54px;
  width: 222px;
}
/*************************end recaptcha *************************************/

/* footer */
footer#footer-secs {
  background: #c1c1c1;
}
#footer-secs {
  display: flex;
}

.foot-link {
  margin: 0 auto;
  padding-top: 40px;
}
.foot-link ul {
  list-styl: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.foot-link ul li {
  display: inline-block;
  padding-left: 20px;
}
.foot-link ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #ff6b00;
  font-weight: 400;
}

/*link section*/
.wrap-icon-menu {
  margin: 0 auto;
}

.wrap-icon-menu ul {
  list-style: none;
}
.wrap-icon-menu ul li {
  display: inline-block;
  margin: 0px 15px;
  border-radius: 100%;
  font-size: 10px;
}
.wrap-icon-menu ul li i {
  font-size: 18px;
  color: #ff6b00;
}

.wrap-icon-menu ul li i:hover {
  cursor: pointer;
}

/* bottom section */
#bottom-copyright ul {
  list-style: none;
  text-align: center;
}
#bottom-copyright ul li {
  display: inline-block;
  padding: 0 8px 0 0;
}

#bottom-copyright {
  background: #dbdbdb;
}

.bottom-foot-text a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}
.date-hema {
  float: right;
  font-size: 13px;
}

#footer-secs img {
  display: flex;
  margin: 0 auto;
  width: 50px;
  height: auto;
}
/* footer */
* footer */ footer#footer-secs {
  background: #c1c1c1;
}
#footer-secs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-link {
  margin: 0 auto;
  padding-top: 40px;
}
.foot-link ul {
  list-styl: none;
  display: inherit;
  margin: 0 auto;
  text-align: center;
}
.foot-link ul li {
  display: inline-block;
  padding-left: 20px;
}
.foot-link ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #5f5f5f;
  font-weight: 400;
}

/*link section*/
.wrap-icon-menu {
  margin: 0 auto;
}

.wrap-icon-menu ul {
  list-style: none;
}
.wrap-icon-menu ul li {
  display: inline-block;
  margin: 0px 15px;
  border-radius: 100%;
  border: 2px solid #949292;
  border-radius: 100%;
  width: 24px;
  font-size: 8px;
  padding: 4px 5px 4px 5px;
  text-align: center;
}
.wrap-icon-menu ul li i {
  font-size: 10px;
  color: #5d5b5b;
}

.wrap-icon-menu ul li:hover {
  background-color: #ff6b00;
}

.wrap-icon-menu ul li i:hover {
  cursor: pointer;
}

/* bottom section */
#bottom-copyright ul {
  list-style: none;
  text-align: center;
}
#bottom-copyright ul li {
  display: inline-block;
  padding: 0 8px 0 0;
}
#bottom-copyright ul li a {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 12px;
}
#bottom-copyright ul li a:hover {
  color: #ff6b00;
}
#bottom-copyright {
  background: #dbdbdb;
}

.bottom-foot-text a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

.foot-kandy {
  margin: 0 auto;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.foot-kandy ul {
  list-styl: none;
  display: inline-block;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
.foot-kandy ul li {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  /*  padding-left: 20px;*/
}
.foot-kandy ul li a {
  text-decoration: none;
  display: inline;
  padding-left: 0;
  padding-right: 0;
  float: none;
  font-size: 15px;
  color: #ff6b00;
  font-weight: 400;
  border-bottom: 3px solid #ff6b00;
}

footer#footer-secs {
  border-bottom: 3px solid #fb806cf7;
}
/* end footer */

/*expand section*/
.faq-body p {
  padding: 20px;
  text-align: justify;
  font-family: "Helvetica Bold Oblique";
  font-size: 15px;
  color: rgb(69, 69, 69);
  line-height: 1.667;
}

/* media */

@media (max-width: 1024px) {
  #second-nav-idle ul li {
    padding-left: 4px;
    padding-right: 4px;
  }
  div#top-head-idle ul {
    margin-right: -14px;
    margin-left: -5px;
  }

  i.fas.fa-chevron-right {
    left: 52px;
  }
}

@media (max-width: 768px) {
  /*responsive section*/
  #service-img {
    height: 47vh !important;
  }
  /*end responsive section*/

  .title-section-card h2 {
    font-family: "Helvetica Oblique";
    color: rgb(255, 255, 255);
    line-height: 80px;
    text-align: center;
    font-size: 22px;
    margin-right: 53px;
  }

  .box-content {
    padding: 28px 25px;
    transform: translateY(36px);
  }

  .card-img-top {
    width: 100%;
  }
  .policy {
    top: 160px;
  }
  .sticky {
    display: none;
  }
  /* middle box */
  .box-content p {
    font-size: 17px;
  }

  .box-content {
    padding: 48px 25px;
  }

  #service-img h1 {
    font-family: "Helvetica Light";
    color: #fff;
    font-size: 30px;
    margin-top: 0px !important;
  }
  .mid-ft {
    font-family: "Helvetica Oblique";
    color: #fff;
    font-size: 40px;
    font-style: oblique;
  }

  section.mobile-sec {
    position: fixed;
    background: #fff;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    z-index: 999999999;
  }

  /* end box */

  /* all text */
  .card-text {
    font-size: 14px;
    padding-bottom: 26px;
  }

  .card-text .midtext-card {
    padding-bottom: 71px !important;
  }

  /* end text */

  select.form-control.form-control-sm.drop-seek {
    margin-bottom: 20px;
  }
  .feed-ship-wrap img {
    width: 100%;
  }
  #main-menu-idle-back {
    display: none;
  }

  /* bottom foooter */
  .date-hema {
    float: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
  /* mobiile section */
  .mobile-nav-sec {
    display: flex !important;
  }

  .mobile-toggle {
    display: block;
    width: 100%;
    height: 100vh;
  }
  nav#overlay {
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    height: 106vh;
    z-index: 99999999;
    display: none;
  }
  #overlay ul {
    list-style: none;
    margin: 10% auto 0 auto;
    padding: 0;
  }

  i.fas.fa-times {
    font-size: 24px;
    float: right;
    padding: 20px 30px;
    cursor: pointer;
  }

  #overlay ul li {
    padding: 10px 0;
    text-decoration: none;
  }
  #overlay ul li a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }

  #overlay ul {
    list-style: none;
    margin: 0% auto 0 auto;
    padding: 0;
    text-align: center;
  }

  .foot-link ul li {
    display: flex !important;
    justify-content: center;
    padding-bottom: 25px !important;
    padding-right: 55px !important;
  }
  .bc-contect {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    padding-top: 0px !important;
  }
}

@media (max-width: 425px) {
  .title-section-card {
    margin-right: 40px !important;
  }
  .card-img-top {
    width: 100%;
  }
  .seek-text p {
    font-size: 14px;
  }

  #feed-ship p {
    font-size: 17px;
  }

  .date-hema {
    float: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
  .wrap-icon-menu ul li {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #949292;
    border-radius: 100%;
    width: 24px;
    font-size: 8px;
    padding: 4px 5px 4px 3px;
    text-align: center;
    margin: 1px 7px;
  }
  #bottom-copyright ul li {
    display: flex;
    justify-content: center;
    padding: 10px 8px 0 0;
  }
  span.date-hema {
    display: block;
    text-align: center;
  }
  .col-md-3.bottom-foot-text.date-hemas {
    display: flex;
    justify-content: center;
    margin-left: 31px !important;
    padding-top: 20px !important;
  }
  #service-img h1 {
    font-size: 30px;
  }
  .mid-ft {
    font-size: 30px;
  }
}

@media (max-width: 325px) {
  .wrap-icon-menu ul li i {
    font-size: 13px;
    color: #ff6b00;
  }
}
