/*section {*/
    /*padding: 0px 0  !important;*/
/*    background: #fff;*/
/*}*/

section.gemstone-third-section {
    padding: 80px 0 !important;
}
.bottom-footer-container {
    padding: 47px 0 !important;
        height: 21vh;
   
}

#drop-two ul li a:hover {
    color: #ff6b00;
}


/*finla chage*/
i.fas.fa-chevron-right {
    display: none;
}
select.langselectbar {
    display: none;
}

#second-nav ul li:nth-child(1) {
    padding-left: 0px;
}
#second-nav ul li:nth-child(7) {
    padding-right: 0px;
}
#text-serch {
    margin-top: -5px;
}
/* end finla chage*/


.collection-show{
  display: none;
}

ul{
  list-style: none;
}

/* contact page style */
.faq-button {
  width: 165px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  line-height: 46px;
  border: solid 2px #c2c2c2;
  margin-top: 30px;
}

.faq-button a {
  font-family: "Bell MT" ;
    text-decoration: none;
    font-style: italic;
    color: #fff;
    line-height: 45px;
    font-size: 18px;
}


.contact-top-text p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8;
}

.custom-control.custom-radio {
  display: inline;
}


.contact-top-text {
    margin-top: -6px;
}

/*fonm section*/
form.form-section {
  padding-top: 23px;
}
label{
  font-size: 14px;
  color: #565656;
  font-weight: 600;
margin-bottom: 14px !important;
}

select#exampleFormControlSelect1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
}

input#exampleInputEmail1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
  height: 38px;
}
textarea#exampleFormControlTextarea1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
}

.box-sec-from {
  padding-top: 0px;
}

.send-contat {
  width: 100%;
  height: 50px;
  background: #05205f;
  text-align: center;
  line-height: 50px;
}

.send-contat a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}



h2.contant-service-text {
  font-size: 30px !important;
}


.service-sentnce {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  font-weight: 600;
}

.service-sentnce p {
  color: #484848f0;
  line-height: 1.8;
}
.inq-tel-num {
  font-family: 'Helvetica Light';
  font-size: 20px;
  color: rgb( 69, 69, 69 );
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 2px;
}
.inq-tel {
  font-size: 16px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  line-height: 2.333;
  color: rgb( 69, 69, 69 );
  margin-bottom: 0;
}

.phone-number {
  padding-bottom: 50px;
}
/* end style */


#top-head ul li a:hover {
    color: #ff6b00;
    transition: 300ms;
}
.serv-title {
    text-align: right !important;
    padding-right: 21px !important;
}
#text-serch {
    display: none;
}

.policy {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #182e63c7;
  top: 141px;
  color: #fff;
}

span.policy-text {
  font-size: 14px;
  line-height: 40px;
}

span.policy-close {
  position: absolute;
  right: 11px;
  padding: 9px 10px;
  font-size: 20px;
  top: -5px;
  cursor: pointer;
}

span.policy-close:hover {
    color: #ff6b00;
}

#second-nav ul li:hover a {
    color: #ff6b00;
}

    /* header section */
    div#top-head ul {
      margin-right: 1px;
      margin-top: 0px;
  }


  ul.language-list {
    margin-left: -15px;
}
    /*end header section */
/*mobile section */
/* scroll navitgation */
.scrollUp{
  transition: 1s;
  transform: translateY(-100px);
}
.sticky{
  display: none;
  transition: 1s;
}
.stickyshow{
  display: block;
  transition: 1s;
}

.stickynav{
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;

  left: 50%;
  margin-left: -50%;
  background: url(../img/head-img.png);
  box-shadow: 3px -3px 10px 0px #525252;
}

.stik-nav ul {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.nanigation-stick {
  max-width: 960px;
  height: 110px;
  background: #fff;
  margin: 0 auto;
}

.stik-nav ul {
  padding-top: 3em;
  padding-right: 41px
}

.stik-nav ul li {
  padding: 0 24px;
}

.logoStick {
  margin-top: -35px !important;
}
.stik-nav ul li a{
  font-family: 'Open Sans', sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    padding: 0 6px;
    font-weight: 500;
}


img.search-ico {
        
  top: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.stik-nav ul li:hover {
  border-bottom: solid #ff6b00 4px;
}

.stik-nav ul li {
     padding-bottom: 0px;
    cursor: pointer;
    transition: 300ms;
    padding: 0px 30px 11px 28px;
}
.stik-nav ul li:hover:nth-child(4){
  border: none;
  cursor: none;
}
.active{
  /*border-bottom: solid #ff6b00 4px;*/
}

.title-section-card h2 {
  margin-left: 20px;
}

.foot-link ul li:hover a {
  color: #ff6b00;
  transition: 300ms;
}
/*heder icon*/
i.fas.fa-chevron-right {
  position: absolute;
  top: 46px;
  left: 60px;
  font-size: 13px;
  color: #0000008f;
}

select.langselectbar {
    font-family: 'Helvetica Oblique';
    font-size: 14px;
}
/* end sitck */
#overlay{
  display: none;
}
..mobile-toggle{
  display: none;
}
.mobile-nav-sec{
  display: none !important;
}
.mobile-nav-sec {
  width: 100%;
  height: 160px;
}
.img-tag {
  width: 150px;
  height: 110px;
}
.img-tag img {
  width: 100%;
  height: auto;
}

.mobile-nav-sec {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.img-tag h4 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  font-weight: normal;
  color: #555;
}
.fa, .fas {
  font-weight: 900;
  float: right;
  font-size: 19px;
  margin-top: 5px;
  padding-left: 7px;
}
/* end mobile */
/* header */
ul.language-list {
  float: left;
}

.search {
  outline: none;
  /* box-shadow: 0 4px 5px #efefef; */
  height: 27px;
  /* width: 16%; */
  width: 64%;
  border: 2px solid #bdb8b8;
  background-color: white;
  /* border-radius: 16px 16px 16px 16px; */
  /* margin-left: -14px; */
  margin-left: -2px;
  border: 0;
  border-bottom: 1px solid black;
}

.langselectbar {
  outline: none;
  border: none;
}
/* end header */

/* currunt tuf */

#service-img h1 {
  font-family: 'Helvetica Light';
  color: #fff;
  font-size: 48px;
  margin-top: -50px;

}

.news-post{
    padding-right:64px;
}
.mid-ft{
  font-family: 'Helvetica Oblique';
  color: #fff;
  font-size: 55px;
  font-style: oblique;
}
#main-menu-back{
  height: 140px;
  background: url(../img/head-img.png);
  background-repeat: repeat;
  box-sizing: border-box;
  position: relative;

}
.main-menu{
  max-width: 960px;
  height: 140px;
  background: #fff;
  margin: 0 auto;
  padding-right: 30px;
      position: relative;
}
#top-head ul li{
 display: inline-block;
 float: right;
  padding:20px 16px 40px 15px;
}
#top-head ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #a0a0a0;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
}
.fa, .fas {
  font-weight: 900;
  padding-right: 10px;
  color: #4e4e4e;
}

div#second-nav {
  display: inline-block;
  margin: 0 auto;
  margin-top: -20px;
}
#second-nav ul li{
display: inline-block;
    padding: 0 10px;
    padding-left: 27px;
    padding-right: 12px;
    padding-bottom: 14px;
}
ul.shiping-nav {
  padding-top: 12px;
}

#second-nav ul li:hover:nth-child(4) {
  border: none;
}

#second-nav ul li:hover {
  border-bottom: solid #ff6b00 4px;
}



/* header */
div#second-nav ul li a {
  font-family: 'Open Sans', sans-serif;
    color: rgb( 24, 24, 24 );
    text-decoration: none;
    font-size: 14px;
    padding: 0 6px;
    font-weight: 500;
}
/* end header */

/* re arange logoo */
img.logo {
  margin-top: -3em !important;
      width: 130px;
}
div#second-nav.navcol {
    padding-left: 50px;
}




/*========================================end===============================================/
ul#navigationmobile {
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 17rem;
}
.main-nav li {
    display: inline-block;
    /* margin-left: 40px; */
    margin-left: 51px;
    margin-top: 3px;
}
ul#navigationmobile {
    display: inline-block;
    position: absolute;
    top: -1.8rem;
    right: 13rem;
}
ul#navigationmobile li {
    margin: 0 5px;
}
ul#navigationmobile li a {
    text-transform: capitalize;
    font-weight: 600;
}

a.js-searchbar {
    position: absolute;
    top: -12px;
    font-size: 18px;
}
/*container */
.Container {
padding: 15px 80px !important; 
}
/* Gemstone First collection section */
.gemstone-first-section{
    padding: 113px 0 !important;
}
/* Gemstone image div customize css */
.gemstone-image-divider{
    margin: 0 auto;
    width: 70%;
    margin-top: -25px;
    float: right;

}
/* gemstone img css*/
.first-gemstone-image{
        width: 100%;
}

.our-gemston-story{
    color:#052263 !important; 
    font-size: 15px;
    color: black;
    margin-top: 21px;
}

a.gemstone-story{
    color: #b5b5b5;
    font-size: 15px;
    font-style: italic;
}

/* Gemstone product slider*/
.gemstone-product-slider{
    width: 100%;
    background: #dbdbdb;
    height: 367px;
}

.gemstone-image-divider-description{
/*
      margin: 0 auto;
    
    width: 474px;
    margin-left: 29%;
*/
    
    margin: 0 auto;
    width: 449px;
/*    margin-left: 214px;*/
    margin-left: 29%;
}

.gemstone-overview{
        margin-bottom: 28px;
}

.title-of-gemstone{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: #05205f;
}

.description-of-gmestone{
/*    width: 81%;*/
    width: 83%;
    line-height: 22px; 

}

.Paragraph-content-of-gemstone{
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;
}

.gemstone-third-image-divider{
    margin: 0 auto;
    width: 70%;
    margin-top: -25px;
}

/*Fourth section gemstone customize class*/
.gemstone-image-divider-description-class {
    margin: 0 auto;
    width: 381px;
    /* margin-left: 214px; */
    margin-left: 11%;
}

/* carosel gemstone page */
.Content-gemstone-container{
    margin-right: 20px;
    width: 278px ;
    margin-left: -1px;
    margin-top: -42px;
}

.gemstone-product-image{
    height: 103px;
}

.product-subheading {
    color: #6e6e6e;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: -17px;
    margin-bottom: 15px;
}

.product-paragraph-gemstones-page{
    color: #808080; 
    font-size: 13px; 
    line-height: 19px; 
    margin-bottom: 21px !important;
    width: 80%; /* newly added*/
    margin: 0 auto /* newly added*/;
    
}


/* Responsive Media query of Gemston page start here */
/* big tablet to 1200px: (width smaller than the 1140px row) */
@media only screen and (max-width:1200px){
    .Content-gemstone-container { width: auto;}

}

/* small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width:1023px){
    .Content-gemstone-container { width: auto;}
}

/* small phones to small tablet: from 900px  */
@media only screen and (max-width:900px){
    .Content-gemstone-container { width: auto;}
    .gemstone-image-divider { margin: 0 auto; width: 80%;}
    .our-gemston-story{text-align: center;}
    .description-of-gemstone{width: 80%;}
    .gemston-title-responsive{text-align: left;}
}

/* small phones to small tablet: from 900px  */
@media only screen and (max-width:767px){
    .Content-gemstone-container { width: auto;}
    .gemstone-image-divider { margin: 0 auto; width: 80%;}
    .our-gemston-story{text-align: center;}
    .description-of-gemstone{width: 80%;}
    .gemston-title-responsive{text-align: left;}
    
    .gemstone-third-image-divider {width: 59%;}
}


/* small phones : form 0 to 480px*/
@media only screen and (max-width:480px){
    .gemstone-image-divider {float: none;}
    .gemstone-image-divider-description { margin: 0 auto; width: 100%; margin-bottom: 39px; margin-left:13%;}
    .gemstone-image-divider-description-class { margin: 0 auto; width: 100%; margin-left: 11%; margin-top: 21px;}
}