/* big resolution screen custom media query */

@media only screen and (max-width: 2000px) and (min-width: 1500px){
    select.langselectbar {
    display: none;
}

i.ion-ios-arrow-right {
    display: none;
}
    
    /* Main menu navigation bar custom style media query*/
    .navirow { 
    max-width: 960px;
    height: 140px;
    background: #fff;
    
    ul li.left,
    ul li.right{font-size: 107% !important;     margin-right: 16px; }
    .language-list {transform: translate(-49% , 189%);}
    .main-nav {margin: 0 auto; font-size: 88%; }
    /*.rightsitemenu-top { transform: translate(-6%, 281%);}*/
    
   

    .rightsitemenu-top {  
        -webkit-transform: translate(-6%, 281%);  
        -ms-transform: translate(-6%, 281%); 
       
        
    }
    
    
    #drop-two ul li a:hover {
    color: #ff6b00;
}
        
    /*Grid box with banner starter */
    .grid { max-width: 1083px; margin: 0 auto;}
    .grid figure {min-width: 370px;}
    .grid figure {min-height: 178px;}
    
    /*main box media query customization */
    .main-box { height: 387px;}
    .mothers-day-special-img {height: 413px;}
    .craft-man-left-img { height: 413px;}
    
    /*section divider row customization */
    /*.row {max-width: 1254px;}*/
    .row { max-width: 1293px;}
    
    .mothers-day-right-section-content {margin-top: -407px;}
    .navigation-sub-menu-title {margin-left: -135px;}
    .navigation-sub-menu-jewelery {margin-left: 15px;}

    /* Navigation modifications*/
    #main-navigation { padding: 0 31px 27px 35px;}

    /* sticky naviagation bar custom css style modification*/
    .sticky-main-nav {padding:35px 31px 24px 86px !important;}

    .stickynavirow { max-width: 1153px; /*1019px;*/}

    .left.drop-down{margin-right: 22px;}

    .right.first-gurante-child{margin-left: 71px;}

    .search {width: 59%;}

    /* Dropdown sub menu modifications*/

    .hemachndra-sub-menu {width: 46%;}

    .hemachandra-second-sub-menu { width: 54%;}

    .navigation-sub-menu-jewelery { margin-left: -13px;}

    /* Policy notifcation bar css modification */
    .policy-paragraph { margin-top: 11px;}

    /*Section css customization */
    .section_story_paragraph_hemachandra { padding-bottom: 190px /*171px;*/ /*139px;*/}

    .mother-day-content-grid { margin-top: -287px;}

    .first-section { margin-bottom: -86px /*-111px;*/}

    .craftman-content-grid { margin-top: 132px;}
    
    /* carasoul wrapper product list width and alignments*/
    .carousel-wrapper {width: 106%; height: 100%; margin-top: 36px; left: 48%; }

    .carousel-wrapper .carousel { width: 104%;}
    
      .navigation-sub-menu-title { margin-left: -110;}
    .navigation-sub-menu-jewelery { margin-left: -1;}
    
    .left-opacity { height: 9%; margin-top: -149px; }
    .right-opacity {height: 9%; margin-top: -149px; }

    .collection-section { transform: translate(34%); width: 417px; }
      .fine-jewelery-section { width: 585px; height: auto;}


}


@media only screen and (max-width:1499px) and (min-width:1401px){
      .navirow {max-width: 955px;  /*80%*/}
    
    .navigation-sub-menu-title { margin-left: -71px;}
    .navigation-sub-menu-jewelery { margin-left: 29px;}
    
    
     .collection-section { transform: translate(34%); width: 343px; }
      .fine-jewelery-section { width: 480px; height: auto;}
    
}

    
@media only screen and (max-width: 1400px) and (min-width:1390px){
     .navirow {max-width: 1153px;  /*80%*/}
    ul li.left,
    ul li.right{font-size: 100% !important;     margin-right: 1px; }
    
    .language-list {transform: translate(-49% , 189%);}
    .main-nav {margin: 0 auto; }
    
    .rightsitemenu-top { transform: translate(-64px, 38px) !important;}
    
    .main-nav li {
        margin-left: 39px !important; 
        display: inline-block;
    /* margin-left: 40px; */
    margin-left: 43px;
    margin-top: -6px;
    }
    
    
     
}

@media only screen and (max-width:1389px) and (min-width: 1201px){
    .navirow {
    max-width: 955px;
    margin: 0 auto;
    max-height: 200px;
}
    
    
    
}



/* big tablet to 1200px: (width smaller than the 1140px row) */
@media only screen and (max-width:1200px){
    html,body{ font-size: 20px;}
    section.bottom-footer-container { height: 151px;}
    .bottom-footer-container {
    padding: 78px 1px;
    }
    
    
    .craft-box {
        text-align: center;
        position: absolute;
        width: 59%;
        margin: 0 auto;
        margin-left: 50px;
    }
    
    /* sub menu customization style*/
    .navigation-sub-menu-title { margin-left: -158px;/*margin-left: -138px*/ /*margin-left: -127px;*/}
    .hemachndra-sub-menu{margin-left: 0;}
    
    .second-sub-row { left: 267px;}
    .hemachandra-second-sub-menu { margin-left: 41px;}
    .main-box { width: 94%; margin: 0 auto;}
    
    .row { max-width: 1075px; margin: 0 auto;}
    
    .box-grid-style { display: block; margin-top: -196px; margin-bottom: 148px;}
    
    .main-nav li {
        margin-left: 39px !important; 
    }
    
    .left-opacity{height: 9%;} .right-opacity{height: 9%;}
    
    .navigation-sub-menu-jewelery {margin-left: 29px;}
    
    .collection-section {
    transform: translate(34%);
    width: 316px;
}
    
    .fine-jewelery-section {
    width: 433px;
    height: auto;
}


}


/* small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width:1023px){
    
    .box-grid-style {margin-bottom: 73px;}
    .main-box { height: 330px;}
    .patternmaker{height: 100%;}

/*    .craft-box {transform: translate(41%);}*/
    section.hemachandra-grid-desc { padding: 33px;}
    section.bottom-footer-container { height: 120px;}
    
 
    .content-images { margin-left: 67px; margin-top: 33px; }
    .jew-image { width: 100%; }
    .craft-box-image { width: 100%;}
    
    .repsonsive-contents {
        width: 65%;
        position: absolute;
        left: 3%;
        top: -100px;
    }
    
    .content-images {
        margin-left: 60px;
        margin-top: 16px;
        width: 64%;
    }
    .grid {padding: 36px;}
    
    .content-banner-grid .span-1-of-3 {
        width: 30.3%;
    }
    
/*
    .grid figure {
        position: relative;
        min-width: 262px;
        max-height: 360px;
 
    }
*/
    
     /* customize code for main box section */
    
    .mother-day-content-grid {
           margin-top: -253px;
    }
    .mothers-day-right-section-content { margin-top: -312px;}
    .main-box {  height: 289px;}

    .craftman-left-section-content { margin-top: -20px;}
    
    .craftgrid-left{ width: 100%; position: relative; margin-top: -17px; margin-left: 13px;}
    .mothers-day-special-img {height: 327px;}
    .craft-man-left-img { height: 327px;}
    .hemachandra-grid-desc {margin-top: -24px; margin-bottom: 44px; }
    
    /* Hemachandra Sub menu style customization */
    .hemachndra-sub-menu { margin-left: -24px;}
    .hemachandra-second-sub-menu { margin-left: 24px;}
    
    .main-nav li {
        margin-left: 39px !important; 
    }
   
    
    
    
}

@media only screen and (max-width: 1015px) and (min-width:938px){
     .windows-mode-nav{
        display: none;
    }
    .fixed{
        display: block ;
    }
    
  nav[role="full-horizontal"] ul {
    display: none;
    height: 100%;
    line-height: 21px;
    padding: 2em;
  }
  nav[role="full-horizontal"] label {
    position: absolute;
    display: block;
    width: 100%;
    min-height:  3.25em;
   /* padding: .45em;*/
    font-size: 1.1em;
    margin: 0;
   /* border: 0.15em solid rgba(60, 60, 60, 0.2);*/
    background: white;
    top: 5px;
  }
  nav[role="full-horizontal"] label:after {
    position: absolute;
    right: .49em;
    top: 0.28em;
    content: "\2261";
    font-size: 2.8em;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 0 sans-serif;
  }
  .navleft{
		list-style: none;
	    float: left;
	    display: block;
      position: relative;

   }
   #global-nav{
   	background: white;
   	width: 100%;
   	height: 100%;
   }

   #navigationmobile {
	   	background: white;
	    position: relative;
	    height: 23em;
	    margin: 0;
	    margin-top: 5%;
	    z-index: 1;
   }
    
    .logomob{
        display: block;
    }
    .logo{
        display: none;
    }
    
    .navleft{margin-top: 12px;}
    
    .navleft img{
        width: 60%;
        margin-top: 1px;
        margin: 0 auto;
    }
    .container { padding-left: 2px;}
    
    .navigation-box{
        height: 25%;
        background: red;
    }
   
    
    .main-nav{
        list-style: none;
        margin-top: 60px;
        margin: 0 auto;
        padding: 0 31px 30px 48px;
        margin-top: 75px;
    
    
    }

    .main-nav li{
        display: inline-block;
        margin-left: 10px;
    }
    
    .main-nav li a:link, 
    .main-nav li a:visited
    {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; /*transition the hover border interval*/
        padding: 10px 0;
            line-height: 41px;
    }

    .main-nav li a:hover, 
    .main-nav li a:active 
    {
        border-bottom: 1px solid #e67e22;
    }

    
    #global-nav{
        position: relative;
        height: auto;
        z-index: 1;
        box-shadow: 0 2px 2px #efefef;
    }
    .onclicknav{
        height: 84px;
        box-shadow: 0 2px 2px #efefef;
    }
    
    .fixed{
        position: fixed !important;
    }
    
    .banners-carosul{
        margin-top: 90px;
    }

    ul.main-nav {
        height: 300px !important;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0 2px 2px #efefef;
        
        display: none;

    }
    .main-nav li{
        text-align: center;
    }
    
    .grid figure {
        min-width: 278px !important;
    }
    
     .mobile-menu-navigation-sub-menu{width: 76%;}
    
     /* Custom css modifications start*/
    
     ul.navigation-unorderlist {height: 438px !important;}
    
    #globalnav{ margin: 0 auto; display: inline-grid;}
    
    header{margin-bottom: 174px !important;}
    
     
    .navleft{width: 25%; margin: 0 auto;}
    #global-nav{display: inline-grid;margin: 0 auto;}
    
    nav[role="full-horizontal"] label {text-align: center; padding: 2.45em; font-weight: 400;  margin-top: 58px; }
    
    nav[role="full-horizontal"] label:after {content: none;}
    
    #global-nav {z-index: 9999;}
    
    .hemahcnadra-custom-footer-links{ display: block !important; }
    
    footer{height: 332px;}
    
    .grid figure figcaption { padding: 2em;}
    
    .responsive-view{ margin: 0 auto;  margin-left: 3% !important;}
    .footer-nav { font-size: 131%;}
    
    /* Custom css modifications end*/
    
}

@media only screen and (max-width:937px){
     .main-nav li {margin-left: 17px;}
    
    .windows-mode-nav{
        display: none;
    }
    .fixed{
        display: block ;
    }
    
  nav[role="full-horizontal"] ul {
    display: none;
    height: 100%;
    line-height: 21px;
    padding: 2em;
  }
  nav[role="full-horizontal"] label {
    position: absolute;
    display: block;
    width: 100%;
    min-height:  3.25em;
   /* padding: .45em;*/
    font-size: 1.1em;
    margin: 0;
   /* border: 0.15em solid rgba(60, 60, 60, 0.2);*/
    background: white;
    top: 5px;
  }
  nav[role="full-horizontal"] label:after {
    position: absolute;
    right: .49em;
    top: 0.28em;
    content: "\2261";
    font-size: 2.8em;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 0 sans-serif;
  }
  .navleft{
		list-style: none;
	    float: left;
	    display: block;
      position: relative;

   }
   #global-nav{
   	background: white;
   	width: 100%;
   	height: 100%;
   }

   #navigationmobile {
	   	background: white;
	    position: relative;
	    height: 23em;
	    margin: 0;
	    margin-top: 5%;
	    z-index: 1;
   }
    
    .logomob{
        display: block;
    }
    .logo{
        display: none;
    }
    
    .navleft{margin-top: 12px;}
    
    .navleft img{
        width: 60%;
        margin-top: 1px;
        margin: 0 auto;
    }
    .container { padding-left: 2px;}
    
    .navigation-box{
        height: 25%;
        background: red;
    }
   
    
    .main-nav{
        list-style: none;
        margin-top: 60px;
        margin: 0 auto;
        padding: 0 31px 30px 48px;
        margin-top: 75px;
    
    
    }

    .main-nav li{
        display: inline-block;
        margin-left: 10px;
    }
    
    .main-nav li a:link, 
    .main-nav li a:visited
    {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; /*transition the hover border interval*/
        padding: 10px 0;
            line-height: 41px;
    }

    .main-nav li a:hover, 
    .main-nav li a:active 
    {
        border-bottom: 1px solid #e67e22;
    }

    
    #global-nav{
        position: relative;
        height: auto;
        z-index: 1;
        box-shadow: 0 2px 2px #efefef;
    }
    .onclicknav{
        height: 84px;
        box-shadow: 0 2px 2px #efefef;
    }
    
    .fixed{
        position: fixed !important;
    }
    
    .banners-carosul{
        margin-top: 90px;
    }

    ul.main-nav {
        height: 300px !important;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0 2px 2px #efefef;

    }
    .main-nav li{
        text-align: center;
    }
    
    .grid figure {
        min-width: 278px !important;
    }
    
     .mobile-menu-navigation-sub-menu{width: 76%;}
    
     /* Custom css modifications start*/
    
     ul.navigation-unorderlist {height: 438px !important;}
    
    #globalnav{ margin: 0 auto; display: inline-grid;}
    
    header{margin-bottom: 174px !important;}
    
     
    .navleft{width: 25%; margin: 0 auto;}
    #global-nav{display: inline-grid;margin: 0 auto;}
    
    nav[role="full-horizontal"] label {text-align: center; padding: 2.45em; font-weight: 400;  margin-top: 58px; }
    
    nav[role="full-horizontal"] label:after {content: none;}
    
    #global-nav {z-index: 9999;}
    
    .hemahcnadra-custom-footer-links{ display: block !important; }
    
    footer{height: 332px;}
    
    .grid figure figcaption { padding: 2em;}
    
    .responsive-view{ margin: 0 auto;  margin-left: 3% !important;}
    .footer-nav { font-size: 131%;}
    
    /* Custom css modifications end*/
    
}


@media only screen and (max-width:900px){
/*
    .main-box {
        height: 290px;
    }
*/
    
    .mothers-day-right-section-content {
        margin-top: -284px;
    }
    
      .mothers-day-special-img {height: 291px; }
    .craft-man-left-img { height: 291px;}
    .hemachandra-grid-desc {margin-top: -24px; margin-bottom: 44px; }
    .craftman-ship { margin-top: -75px;}
    
     .mobile-menu-navigation-sub-menu{width: 76%;}
    
    
     /* Custom css modifications start*/
    
     ul.navigation-unorderlist {height: 438px !important;}
    
    #globalnav{ margin: 0 auto; display: inline-grid;}
    
    header{margin-bottom: 174px !important;}
    
     
    .navleft{width: 25%; margin: 0 auto;}
    #global-nav{display: inline-grid;margin: 0 auto;}
    
    nav[role="full-horizontal"] label {text-align: center; padding: 2.45em; font-weight: 400;  margin-top: 58px; }
    
    nav[role="full-horizontal"] label:after {content: none;}
    
    #global-nav {z-index: 9999;}
    
    .hemahcnadra-custom-footer-links{ display: block !important; }
    
    footer{height: 332px;}
    
    .grid figure figcaption { padding: 2em;}
    
    .responsive-view{ margin: 0 auto;  margin-left: 3% !important;}
    
    .hemachandra-footer-logo {
        text-align: center;
        /* margin-bottom: 12px; */
        margin-bottom: 32px;
        margin-top: -78px;
         margin-left: -5%;
    }
    
    /* Custom css modifications end*/
    
    
    
}



@media only screen and (max-width:863px){
    
    html,body{ font-size: 16px;}
    /* main navigation menu*/
    .main-nav li {margin-left: 17px;}
    
    .windows-mode-nav{
        display: none;
    }
    .fixed{
        display: block;
    }
    
  nav[role="full-horizontal"] ul {
    display: none;
    height: 100%;
    line-height: 21px;
    padding: 2em;
  }
  nav[role="full-horizontal"] label {
    position: absolute;
    display: block;
    width: 100%;
    min-height:  3.25em;
   /* padding: .45em;*/
    font-size: 1.1em;
    margin: 0;
   /* border: 0.15em solid rgba(60, 60, 60, 0.2);*/
    background: white;
    top: 5px;
  }
  nav[role="full-horizontal"] label:after {
    position: absolute;
    right: .49em;
    top: 0.28em;
    content: "\2261";
    font-size: 2.8em;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 0 sans-serif;
  }
  .navleft{
		list-style: none;
	    float: left;
	    display: block;
      position: relative;

   }
   #global-nav{
   	background: white;
   	width: 100%;
   	height: 100%;
   }

   #navigationmobile {
	   	background: white;
	    position: relative;
	    height: 23em;
	    margin: 0;
	    margin-top: 5%;
	    z-index: 1;
   }
    
    .logomob{
        display: block;
    }
    .logo{
        display: none;
    }
    
    .navleft{margin-top: 12px;}
    
    .navleft img{
        width: 60%;
        margin-top: 1px;
        margin: 0 auto;
    }
    .container { padding-left: 2px;}
    
    .navigation-box{
        height: 25%;
        background: red;
    }
   
    
    .main-nav{
        list-style: none;
        margin-top: 60px;
        margin: 0 auto;
        padding: 0 31px 30px 48px;
        margin-top: 75px;
    
    
    }

    .main-nav li{
        display: inline-block;
        margin-left: 10px;
    }
    
    .main-nav li a:link, 
    .main-nav li a:visited
    {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; /*transition the hover border interval*/
        padding: 10px 0;
            line-height: 41px;
    }

    .main-nav li a:hover, 
    .main-nav li a:active 
    {
        border-bottom: 1px solid #e67e22;
    }

    
    #global-nav{
        position: relative;
        height: auto;
        z-index: 1;
        box-shadow: 0 2px 2px #efefef;
    }
    .onclicknav{
        height: 84px;
        box-shadow: 0 2px 2px #efefef;
    }
    
    .fixed{
        position: fixed !important;
    }
    
    .banners-carosul{
        margin-top: 90px;
    }

    ul.main-nav {
        height: 300px !important;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0 2px 2px #efefef;

    }
    .main-nav li{
        text-align: center;
    }
    
/*
    .main-nav li {
       margin-left: 31px;

    }
*/
    
    .craft-left{
          width: 48.2%;
    }
    .mothers-day-right-section-content {
        margin-top: -271px;
    }
/*
    .main-box {
        height: 253px;
    }
*/
    

            
    .craftgrid-left {
        margin-top: -11px;
    }
    
    .craftman-section-title { margin-bottom: 16px;}
    .left-opacity {width: 18%; height: 6%;}
    .right-opacity { width: 19%; height: 6%; right: 0; }
    
        
    .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
    min-width: 257px;
}

    .mothers-day-special-img {height: 291px; margin-top: -18px;}
    .craft-man-left-img { height: 291px;}
    .hemachandra-grid-desc {margin-top: -24px; margin-bottom: 44px; }
        
     .mobile-menu-navigation-sub-menu{width: 76%;}
    .mobile-submenu-class{width: 218px;}
    
    
    
    /* Custom css modifications start*/
    
     ul.navigation-unorderlist {height: 438px !important;}
    
    #globalnav{ margin: 0 auto; display: inline-grid;}
    
    header{margin-bottom: 151px !important;}
    
     
    .navleft{width: 25%; margin: 0 auto;}
    #global-nav{display: inline-grid;margin: 0 auto;}
    
    nav[role="full-horizontal"] label {text-align: center; padding: 2.45em; font-weight: 400;  margin-top: 58px; }
    
    nav[role="full-horizontal"] label:after {content: none;}
    
    #global-nav {z-index: 9999;}
    
    .hemahcnadra-custom-footer-links{ display: block !important; }
    
    footer{height: 332px;}
    
    .grid figure figcaption { padding: 2em;}
    
    .responsive-view{ margin: 0 auto;  margin-left: 3% !important;}
    
    
    
    /* Custom css modifications end*/
    
   

}

/* small phones to small tablet: from 481px to 767 */
@media only screen and (max-width:767px){
   html,body{ font-size: 16px;}
    /* main navigation menu*/
    .main-nav li {margin-left: 17px;}
    
    .windows-mode-nav{
        display: none;
    }
    .fixed{
        display: block;
    }
    
  nav[role="full-horizontal"] ul {
    display: none;
    height: 100%;
    line-height: 21px;
    padding: 2em;
  }
  nav[role="full-horizontal"] label {
    position: absolute;
    display: block;
    width: 100%;
    min-height:  3.25em;
   /* padding: .45em;*/
    font-size: 1.1em;
    margin: 0;
   /* border: 0.15em solid rgba(60, 60, 60, 0.2);*/
    background: white;
    top: 5px;
  }
  nav[role="full-horizontal"] label:after {
    position: absolute;
    right: .49em;
    top: 0.28em;
    content: "\2261";
    font-size: 2.8em;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 0 sans-serif;
  }
  .navleft{
		list-style: none;
	    float: left;
	    display: block;
      position: relative;

   }
   #global-nav{
   	background: white;
   	width: 100%;
   	height: 100%;
   }

   #navigationmobile {
	   	background: white;
	    position: relative;
	    height: 23em;
	    margin: 0;
	    margin-top: 5%;
	    z-index: 1;
   }
    
    .logomob{
        display: block;
    }
    .logo{
        display: none;
    }
    
    .navleft{margin-top: 12px;}
    
    .navleft img{
        width: 60%;
        margin-top: 1px;
        margin: 0 auto;
    }
    .container { padding-left: 2px;}
    
    .navigation-box{
        height: 25%;
        background: red;
    }
   
    
    .main-nav{
        list-style: none;
        margin-top: 60px;
        margin: 0 auto;
        padding: 0 31px 30px 48px;
        margin-top: 75px;
    
    
    }

    .main-nav li{
        display: inline-block;
        margin-left: 10px;
    }
    
    .main-nav li a:link, 
    .main-nav li a:visited
    {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; /*transition the hover border interval*/
        padding: 10px 0;
            line-height: 41px;
    }

    .main-nav li a:hover, 
    .main-nav li a:active 
    {
        border-bottom: 1px solid #e67e22;
    }

    
    #global-nav{
        position: relative;
        height: auto;
        z-index: 1;
        box-shadow: 0 2px 2px #efefef;
    }
    .onclicknav{
        height: 84px;
        box-shadow: 0 2px 2px #efefef;
    }
    
    .fixed{
        position: fixed !important;
    }
    
    .banners-carosul{
        margin-top: 90px;
    }

    ul.main-nav {
        height: 300px !important;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0 2px 2px #efefef;

    }
    .main-nav li{
        text-align: center;
    }
    .box-grid-style { margin-top: -162px;margin-bottom: 71px;}
    .grid figure { min-width: 246px;}
    .main-box { height: 239px;}
    .jew-image { width: 100%;}
     .content-images { margin-left: 53px; margin-top: 57px;}
    .patternmaker {height: 99%;}
/*    .craft-box { transform: translate(42%);}*/
    .craft-box-image { width: 137%; margin-left: -39px;}
    section.hemachandra-grid-desc { margin-top: -73px;}
    

    .content-images {
        width: 67%;
        margin-left: 6px;
        margin-top: 45px;
        position: absolute;
        /* margin-right: -164px; */
    }
    
    .repsonsive-contents {
        width: 68%;
        position: absolute;
        left: 9%;
        top: -68px;
    }
    
    .craft-box-image {
        width: 100%;
    }
    .grid{/*margin-left: 4%;*/  margin-left: 0;}
    .left-opacity{width: 17%;}
    
    .right-opacity { width: 17%; margin-left: 83%;}
    .grid figure figcaption { padding: 1em;}
    
    .content-banner-grid .span-1-of-3 {
    width: 100%;
    }
    
    /* customize code for main box section */
    
    .mother-day-content-grid {
        margin-top: -216px;
    }
    .mothers-day-right-section-content {  margin-top: -240px;}
    .main-box {  height: 228px;}
    
    .craftman-content-grid { margin-top: 41px;}
    
    .craft-content-class {
        width: 42%;
    }
    
    
    .mothers-day-special-img {height: 232px; }
    .craft-man-left-img { height: 232px;}
    .hemachandra-grid-desc {margin-top: -24px; margin-bottom: 44px; }
    .craftman-ship { margin-top: -75px; margin-bottom: 28px;}
    .motherday-pics-title {margin-bottom: 13px;}

    .mobile-menu-navigation-sub-menu{width: 76%;}
    
    
    /* Custom css modifications start*/
    
     ul.navigation-unorderlist {height: 656px !important;}
    
    #globalnav{ margin: 0 auto; display: inline-grid;}
    
    header{margin-bottom: 151px !important;}
    
     
    .navleft{width: 25%; margin: 0 auto;}
    #global-nav{display: inline-grid;margin: 0 auto;}
    
    nav[role="full-horizontal"] label {text-align: center; padding: 2.45em; font-weight: 400;  margin-top: 58px; }
    
    nav[role="full-horizontal"] label:after {content: none;}
    
    #global-nav {z-index: 9999;}
    
    .hemahcnadra-custom-footer-links{ display: block !important; }
    
    footer{height: 332px;}
    
    .grid figure figcaption { padding: 2em;}
    
    .responsive-view{    margin: 0 auto;  margin-left: 3% !important;}
    
    
    
    /* Custom css modifications end*/
    
   

}


/* small phones : form 0 to 480px*/
@media only screen and (max-width:480px){
    
    .main-box {
        height: 297px;
    }
      
    .windows-mode-nav{
        display: none;
    }
    .fixed{
        display: block;
    }
    
  nav[role="full-horizontal"] ul {
    display: none;
    height: 100%;
    line-height: 21px;
    padding: 2em;
  }
  nav[role="full-horizontal"] label {
    position: absolute;
    display: block;
    width: 100%;
    min-height:  3.25em;
    padding: 2.45em;
    font-size: 1.1em;
    margin: 0;
   /* border: 0.15em solid rgba(60, 60, 60, 0.2);*/
    background: white;
    top: 5px;
    text-align: center;
      font-weight: 400;
  }
  nav[role="full-horizontal"] label:after {
    position: absolute;
    right: .49em;
    top: 0.28em;
/*    content: "\2261";*/
    font-size: 2.8em;
    content: none;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="full-horizontal"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 0 sans-serif;
  }
  .navleft{
		list-style: none;
	    float: left;
	    display: block;
      position: relative;
          width: 40%;
    margin: 0 auto;

   }
   #global-nav{
   	background: white;
   	width: 100%;
   	height: 100%;
    display: inline-grid;
       margin: 0 auto;
   }

   #navigationmobile {
	   	background: white;
	    position: relative;
	    height: 23em;
	    margin: 0;
	    margin-top: 5%;
	    z-index: 1;
   }
    
    .logomob{
        display: block;
    }
    .logo{
        display: none;
    }
    
    .navleft{margin-top: 12px;}
    
    .navleft img{
        width: 60%;
        margin-top: 1px;
        margin: 0 auto;
    }
    .container { padding-left: 2px;}
    
    .navigation-box{
        height: 25%;
        background: red;
    }
   
    
    .main-nav{
        list-style: none;
        margin-top: 60px;
        margin: 0 auto;
        padding: 0 31px 30px 48px;
        margin-top: 75px;
    
    
    }

    .main-nav li{
        display: inline-block;
        margin-left: 10px;
    }
    
    .main-nav li a:link, 
    .main-nav li a:visited
    {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; /*transition the hover border interval*/
        padding: 10px 0;
            line-height: 41px;
    }

    .main-nav li a:hover, 
    .main-nav li a:active 
    {
        border-bottom: 1px solid #e67e22;
    }

    
    #global-nav{
        position: relative;
        height: auto;
/*        z-index: 1;*/
        z-index: 99999;
        box-shadow: 0 2px 2px #efefef;
        
        
    }
/*
    .onclicknav{
        height: 84px;
        box-shadow: 0 2px 2px #efefef;
    }
    
*/
    .onclicknav {
        height: 60px;
        box-shadow: 0 2px 2px #efefef;
        margin-top: 60px !important;
    }
    
    
    .fixed{
        position: fixed !important;
    }
    
    .banners-carosul{
        margin-top: 90px;
    }

    ul.main-nav {
        height: 300px !important;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0 2px 2px #efefef;

    }
    .main-nav li{
        text-align: center;
    }
    
/*
    .content-banner-grid .span-1-of-3 {
        width: 50.26%;
    }
*/
/*
    .box-grid-style {
        display: inline-block;
        margin-top: -88px;
        margin-bottom: 65px;
        margin-left: 54px;
    }
*/
  
    .craft-box {
        margin-top: 30px;
        width: 72%;
        margin-left: 86px;
        line-height: 7px;
    }
    .pick-motherday{margin-top: -85px;}

    .craft-box-image {
        width: 100%;
    }
    .hemachandra-grid-desc {padding: 34px;}
    .box{ margin-bottom: 22px;}
    .history-description-box {height: 246px;}
    .bottom-footer-container { height: 141px;}
    .copywrite { text-align: center;  float: none; margin-bottom: 12px;}
    .bottom-footer {margin-bottom: 12px;}
    .bottom-footer {text-align: center; float: none;}
    .projectdone {text-align: center;}
    .projectby {float:none;}
    .companylogoimage {margin-top: 8px;}
/*    section.hemachandra-grid-desc { padding: 68px; margin-top: -8px;}*/
    
    .grid figure {
        min-width: 116px;
    }
    .content-banner-grid .span-1-of-3 {
        width: 100%;
    }
    
    
    /* Customize and redesign changes css*/
    
    .mother-day-content-grid { margin: 0 auto; margin-top: -271px;}
    
    .mothers-day-right-section-content {
            display: block;
    margin: 0 auto;
    margin-top: -76px;
        width: 56%;
    }
    .pick-motherday{
        margin-top: -39px;
    }
    
    .craftman-left-section-content{
        display: block;
        margin: auto;
        width: 55%;
        margin-top: -47px;
    }
    
    .craftman-content-grid {
        margin-top: -396px;
        line-height: 0px;

    }
    .craftman-section-title {
        margin-top: 33px;
        margin-bottom: 32px;
    }
    .hemachandra-grid-desc{
        margin-top: 44px;
    }
    
    .heamchandra-paragraph{
        font-size: 69%;
    }
    
    
    /* css updated style craft maker section */
    .craft-content-class {
        width: 100%;
        margin-top: -152px;
    }
    
/*
    .craftgrid-left{
        display: block;
        margin: 0 auto;
        width: 62%;
        margin-top: -78px;
    }
*/
    
/*
    .craftman-content-grid {
        margin-top: -241px;
        line-height: 0px;
    }
    
*/
/*
    .craftman-content-grid {
        margin-top: -150px;
    }
*/
    
    .craft-left {
    width: 98.2%;
}
    
    .craftgrid-left {
    display: block;
    margin: 0 auto;
    width: 56%;
    margin-top: -69px;
}
    
    .craftman-content-grid {
        margin: 0 auto;
        margin-top: -205px;
    }

    .hemachandra-footer-logo {
        margin-top: -83px;
    }
    
    
    
    /* css updated style craft maker section end*/
    .mothers-day-special-img {height: 151px; }
    .craft-man-left-img { height: 151px;}
    .motherday-pics-title {margin-bottom: 13px;}
    
    .mobile-menu-navigation-sub-menu{width: 122%;}
    
    .policy-paragraph {margin-top: 2%;}
    
    .grid figure figcaption { padding: 2em;}
    
    
    
    .grid{margin: 0 auto;}
    
    .left-opacity { height: 6%;}
    .right-opacity {height: 6%;}
    
    ul.navigation-unorderlist {height: 700px !important;}
    
    #globalnav{ margin: 0 auto; display: inline-grid;}
    
    header{margin-bottom: 151px !important;}
    
     .projectby{display: none;}
    
    .responsive-view {
        margin: 0 auto;
        margin-left: 0% !important;
    }
    
    .more-info-history{
        margin-top: -17px;
    }
    
    .heamchandra-paragraph { width: 100%;}
    

        
    
}


/* small mobile view iphone 6/7/8*/
@media only screen and (max-width:470px) and (min-width:320px){
    
 	.hemachandra-history-title {margin-bottom: 9px; font-size: 18px;}
  
    .policy-paragraph {margin-top: 4%;}
    .policy-close-divider { top: 8px;}
     .social-link li {margin-right: 10px;}
    .footer-nav{    margin-left: 11px;}
    .mothers-day-special-img, .craft-man-left-img  { height: 119px; margin-top: 0px;}
    
    
    
    
}