.active1{
    border-bottom: solid #ff6b00 4px;
}

section{
  
    background: #fff;
}

#drop-two ul li a:hover {
    color: #ff6b00;
}


/*
.carousel-wrapper .carousel{
     transform: translateY(-38%);
}
*/
   
.product-info{
    text-align: center;
    margin-top: 100px;
}


/* Product customization */

.collection-product-images{
    margin-bottom: 39px !important;
    
    margin: 0 auto;
    margin-top: 90px;
}


/* Slider Theme Style */

.ProductBlock h3 {
    font-family: 'Bell MT';
    font-size: 16px;
    text-transform: uppercase;
  color: #393939;
  margin-top: 5px;
  text-align: center;
/*  border: 1px solid rgba(0, 0, 0, .25);*/
}
.product-title{
  font-family: 'bellefair' , serif;
}

/* =================================================================================================*/

