
@import url(//db.onlinewebfonts.com/c/01661f50354ecd0a3560ac450ecf43d3?family=Bell+MT);
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('../font/Helvetica-Bold.woff'),
  url('../font/Helvetica-BoldOblique.woff'),
  url('../font/Helvetica-Oblique.woff'),
  url('../font/Helvetica.woff'),
  url('../font/helvetica-compressed-5871d14b6903a.woff'),
  url('../font/helvetica-light-587ebe5a59211.woff'),
  url('../font/helvetica-rounded-bold-5871d05ead8de.woff')
   format('woff');
  }
  @font-face {font-family: "Bell MT";
    src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot");
    src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.svg#Bell MT") format("svg");
}


@font-face {
  font-family: 'Dai-Banna-SIL-Light-Bold';
  src:url('Dai-Banna-SIL-Light-Bold.ttf.woff') format('woff'),
      url('Dai-Banna-SIL-Light-Bold.ttf.svg#Dai-Banna-SIL-Light-Bold') format('svg'),
      url('Dai-Banna-SIL-Light-Bold.ttf.eot'),
      url('Dai-Banna-SIL-Light-Bold.ttf.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'helveticaregular';
    src: url('assets/frontend/font/helveticaregular/helvetica-webfont.woff2') format('woff2'),
         url('assets/frontend/font/helveticaregular/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*container */
.Container {
padding: 15px 80px !important; 
}
/* Gemstone First collection section */
.gemstone-first-section{
    padding: 113px 0 !important;
}
/* Gemstone image div customize css */

/* gemstone img css*/
.first-gemstone-image{
        width: 100%;
}


/* Gemstone product slider*/
.gemstone-product-slider{
    width: 100%;
    background: #dbdbdb;
    height:100%;
}

.gemstone-image-divider-description{
/*
      margin: 0 auto;
    
    width: 474px;
    margin-left: 29%;
*/
    
    margin: 0 auto;
    width: 449px;
/*    margin-left: 214px;*/
    margin-left: 29%;
}

.gemstone-overview{
        margin-bottom: 28px;
}

.title-of-gemstone{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: #05205f;
}

.description-of-gmestone{
/*    width: 81%;*/
    width: 83%;
    line-height: 22px; 

}

.Paragraph-content-of-gemstone{
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue' ,'Open Sans', 'Arial', sans-serif;
}

.gemstone-third-image-divider{
    margin: 0 auto;
    width: 70%;
    margin-top: -25px;
}

/*Fourth section gemstone customize class*/
.gemstone-image-divider-description-class {
    margin: 0 auto;
    width: 381px;
    /* margin-left: 214px; */
    margin-left: 11%;
}

/* carosel gemstone page */
.Content-gemstone-container{
    margin-right: 20px;
    width: 400px ;
    margin-left: -1px;
    margin-top: -42px;
}

.gemstone-product-image{
    height: 103px;
}

.product-subheading {
    color: #6e6e6e;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: -5px;
    margin-bottom: 15px;
    font-family: 'helveticaregular';
    text-align: center;
}

.product-paragraph-gemstones-page{
    font-family: 'HelveticaNeue-Light';
    color: #808080; 
    font-size: 15px; 
    line-height: 19px; 
    margin-bottom: 21px !important;
    width: 100%; /* newly added*/
    margin: 0 auto /* newly added*/;
    
}

@media screen and (max-width: 500px) {
    .product-paragraph-gemstones-page{
        display:block;
        width:100%;
    }
#service-img{
    width:100%;
}
    
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) { 
    .product-paragraph-gemstones-page{
        font-family: 'Bell MT';
        color: #808080; 
        font-size: 15px; 
        line-height: 24px; 
        margin-bottom: 21px !important;
        width: 70%; /* newly added*/
        margin: 0 auto /* newly added*/;
        
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) { 
    .product-paragraph-gemstones-page{
        font-family: 'HelveticaNeue-Light';
        color: #808080; 
        font-size: 15px; 
        line-height: 19px; 
        margin-bottom: 21px !important;
        width: 100%; /* newly added*/
        margin: 0 auto /* newly added*/;
        
    }

    .Content-gemstone-container{
        margin-right: 20px;
        width: 250px ;
        margin-left: -1px;
        margin-top: -42px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 

    .Content-gemstone-container{
        margin-right: 20px;
        width: 100% ;
        margin-left: -1px;
        margin-top: -42px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 

    .product-paragraph-gemstones-page{
    font-family: 'HelveticaNeue-Light';
    color: #808080; 
    font-size: 15px; 
    line-height: 19px; 
    margin-bottom: 21px !important;
    width: 80%; /* newly added*/
    margin: 0 auto /* newly added*/;
    }
}



