@import url(//db.onlinewebfonts.com/c/01661f50354ecd0a3560ac450ecf43d3?family=Bell+MT);
@font-face {
  font-family: "Helvetica";
  src: url("//db.onlinewebfonts.com/t/a64ff11d2c24584c767f6257e880dc65.eot");
  src: url("//db.onlinewebfonts.com/t/a64ff11d2c24584c767f6257e880dc65.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a64ff11d2c24584c767f6257e880dc65.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a64ff11d2c24584c767f6257e880dc65.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a64ff11d2c24584c767f6257e880dc65.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a64ff11d2c24584c767f6257e880dc65.svg#Helvetica")
      format("svg");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot");
  src: url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.svg#Helvetica Neue")
      format("svg");
}

@font-face {
  font-family: "Helvetica Narrow";
  src: url("//db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot");
  src: url("//db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.svg#Helvetica Narrow")
      format("svg");
}

@font-face {
  font-family: "Bell MT";
  src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot");
  src: url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/01661f50354ecd0a3560ac450ecf43d3.svg#Bell MT")
      format("svg");
}

@font-face {
  font-family: "Dai-Banna-SIL-Light-Bold";
  src: url("Dai-Banna-SIL-Light-Bold.ttf.woff") format("woff"),
    url("Dai-Banna-SIL-Light-Bold.ttf.svg#Dai-Banna-SIL-Light-Bold")
      format("svg"),
    url("Dai-Banna-SIL-Light-Bold.ttf.eot"),
    url("Dai-Banna-SIL-Light-Bold.ttf.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "new_helveticaregular";
  src: local("Arial");
}

div#carouselExampleIndicators .active {
  border-bottom: none;
}

/*.wrapper-middle {*/
/*    border-bottom: 10px solid #2d2d2d;*/
/*}*/
section#middle-three .container {
  max-width: 909px;
}

.ellipsis {
  overflow: hidden;
  height: 120px;
}
.description {
  padding: 3px;
  margin-top: 30px;
  margin-bottom: 0;
}

/*acording section */
/** This class will hide all the body be default **/
#accordion .body {
  display: none;
  padding: 10px;
}

/** This class will show the body if it has a parent with active       class
**/
#accordion .active .body {
  display: block;
}

#accordion .panel {
  border: solid 1px #d6d6d6;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
}

/*end acording section */

#drop-one .col-md-3 {
  max-width: 21% !important;
}
/*styles for drop down three ===================================================================================*/

#drop-one .drow-ico #drop-thirdTwo {
  display: inline-block;
  margin-left: -17px;
  padding-top: 5px;
}

#drop-thirdTwo .col-md-3 {
  max-width: 21% !important;
}
section#drop-thirdTwo h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800 !important;
  padding-bottom: 33px;
  padding-top: 40px;
}
section#drop-thirdTwo h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800 !important;
  padding-bottom: 33px;
  padding-top: 40px;
}

section#drop-thirdTwo ul li a {
  font-family: helvetivca;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  line-height: 1.882;
}
section#drop-thirdTwo ul {
  padding-left: 0px;
}
section#drop-thirdTwo ul {
  padding-left: 0px;
}
section#drop-thirdTwo ul li a:hover {
  color: red;
  transition: 200ms;
}
#drop-thirdTwo {
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  height: 350px;
  margin-top: 0px;
  z-index: 999;
  transition: 1s;
  display: none;
}

/* styles for drop down three end ============================================================================*/

a {
  text-decoration: none;
}
#slid-product {
  padding: 25px 0 50px 0;
}

.pro-img {
  overflow: hidden;
}
img.proone {
  padding: 0 15px;
  height: auto;
}
.carousel-control-prev-icon {
  display: none;
}
.owl-carousel .owl-item:hover {
  margin-top: -12px;
  transition: 300ms ease-in-out;
}
.pro-details h4 {
  font-size: 1rem !important;
}

.pro-details p {
  color: #969696 !important;
  font-size: 12px;
  font-family: "HelveticaNeue-Light";
  font-weight: 100;
  line-height: 16px;
}

.pro-details {
  transform: translateY(110px);
  transition: 800ms;
}
.pro-img a {
  text-transform: uppercase;
  font-size: 12px;
  color: #052263 !important;
  font-weight: 600;
}

.owl-item:hover .pro-details {
  transform: translateY(0px);
}

.owl-carousel:before {
  content: "";
  position: absolute;
  height: 300px;
  left: 0;
  width: 18%;
  background: linear-gradient(
    to right,
    rgba(255, 254, 254, 0.89),
    rgba(255, 252, 252, 0.42)
  );
  z-index: 9;
}
.owl-carousel:after {
  content: "";
  position: absolute;
  height: 300px;
  right: 2px;
  top: 0;
  width: 18%;
  background: linear-gradient(
    to right,
    rgba(255, 252, 252, 0.42),
    rgba(255, 254, 254, 0.89)
  );
  z-index: 9;
}

.owl-carousel .owl-item img {
  display: block;
  width: 200px !important;
  height: auto !important;
  margin: 0 auto !important;
}

#slid-product .owl-carousel .active {
  border-bottom: none;
}
/* index htmls main section */
#main-head {
  position: relative;

  clear: both;
}

.main-three-sec {
  position: relative;
  width: 100%;
  height: 126px;
}
.three-sentence {
  position: absolute;
  top: 14%;
  width: 94%;
  left: 9%;
  padding: 0px 10px;
  overflow: hidden;
  color: #fff;
}
.three-sentence h4 {
  font-size: 18px;
  padding: 10px 0px;
}
.three-sentence h4:before {
  content: "";
  position: absolute;
  top: 35px;
  background: #fff;
  width: 54px;
  height: 2px;
}

.three-sentence p {
  font-size: 14px;
  font-family: HelveticaNeue-Light;
}

/* main three section */
.main-three-sec img {
  width: 100%;
}
section#middle-three {
  position: relative;
  transform: translateY(-75%);
  z-index: 99;
}

.three-box {
  position: absolute;
  top: -90px;
  z-index: 99;
}

/* end main three section */

/* main discription  */
.disc-main {
  padding-top: 0;
  padding-bottom: 100px;
}

.disc-main p {
  font-size: 18px;
  text-align: center;
  color: #717070;
  font-family: "HelveticaNeue-Light";
  line-height: 34px;
}

.disc-main a {
  text-align: center;
}
.disc-main .disc-link {
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue",
    "Open Sans", Arial, Helvetica;
  font-size: 13px;
  text-transform: uppercase;
  color: #909090;
  text-decoration: underline;
}

.new-text {
  padding-right: 100px;
}
/*  end main discription  */

/* special card section */

/*for responsive sectiton*/
#seek-help .card {
  background-color: #ededed;
}

/*end responsive section*/

#special-card {
  position: relative;
}
#special-card .text-wrapper {
  text-align: center;
  background: #031f60;
  padding: 58px;
  height: 371px;
  color: #fff;
}

#special-card .text-wrapper h3 {
  text-transform: capitalize !important;
  font-family: HelveticaNeue-Light;
  color: white;
  padding-bottom: 40px;
}
#special-card .text-wrapper .disc {
  font-size: 14px;
  padding: 0 4%;
  font-family: "Montserrat", sans-serif !important;
}
#special-card .caid-image {
  width: 100%;
  height: 371px;
  background: #031f60;
}

#special-card .text-wrapper .discover {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

#special-card .caid-image img {
  position: absolute;
  top: -20px;
  width: 100%;
  right: 25px;
  transition: 300ms;
}

#special-card .border-image {
  position: absolute;
  height: 371px;
  left: 0;
  top: 0;
}

#special-card .border-image img {
  height: 371px;
}
/* end special card section */
#card-main-page .main-card-h {
  text-transform: capitalize !important;
  color: #052263;
  font-family: "HelveticaNeue-Light";
  padding: 20px 0;
  margin: 0;
  font-size: 27px;
}

.card-body p {
  line-height: 24px;
  color: rgb(69, 69, 69);
}

#card-main-page .main-card-body {
  font-size: 70%;
  line-height: 173%;
  font-weight: 400;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Open Sans", "Arial", Helvetica;
}

.discover-content-area {
  font-family: "HelveticaNeue-Light";
  font-size: 18px;
  color: rgb(69, 69, 69);
  line-height: 1.6 !important;
  margin-top: -10px;
  text-align: left;
  border-bottom: solid 10px #ffffff;
}

/* ship */

/* final card */
#main-bot-card {
  padding-top: 100px;
  position: relative;
}

#main-bot-card img {
  width: 100%;
}

#main-bot-card .hemachandra-history-title {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 25px;
}
.wrap-final-card {
  width: 80%;
  margin: 0 auto;
  background: #031f60;
  color: #fff;
  text-align: center;
  padding: 40px 60px;
  font-family: HelveticaNeue-Light;
}
/*  end final card */

#special-ship {
  position: relative;
}
#special-ship .text-wrapper {
  text-align: center;
  background: #031f60;
  padding: 58px;
  height: 371px;
  color: #fff;
}

#special-ship .text-wrapper h3 {
  text-transform: capitalize !important;
  font-family: HelveticaNeue-Light;
  color: white;
  padding-bottom: 40px;
}
#special-ship .text-wrapper .disc {
  font-size: 14px;
  padding: 0 4%;
  font-family: "Montserrat", sans-serif !important;
}
#special-ship .caid-image {
  width: 100%;
  height: 371px;
  background: #031f60;
}

#special-ship .text-wrapper .discover {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

#special-ship .caid-image img {
  position: absolute;
  width: 100%;
  top: -20px;
  left: 25px;
  transition: 300ms;
  z-index: 1;
}
#special-ship:hover img {
}

#special-ship .border-image {
  position: absolute;
  height: 371px;
  right: 0;
  top: 0;
}

#special-ship .border-image img {
  height: 371px;
}
/* end special card section */

/* card main page */

#card-main-page {
  padding-top: 100px;
}
/* end card main page */

/* card section */

.no-gut {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Open Sans", "Arial", Helvetica;
}
/*  end  */

#top-head ul li:nth-child(1) {
  padding-right: 0px;
}

textarea#exampleFormControlTextarea1 {
  background: #d9d6d6;
}
section#drop-one ul li a:hover {
  color: #ff6b00;
  transition: 200ms;
}

.drow-ico i:hover {
  color: #ff6b00;
  cursor: pointer;
}

#drop-two ul li a:hover {
  color: #ff6b00;
}
#drop-one {
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  height: 350px;
  margin-top: 0px;
  z-index: 999;
  transition: 1s;
}
.container.wrap-dorop {
  /*margin-left: 153px;*/
  margin-top: -5px;
}
#drop-two {
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  height: 362px;
  margin-top: 0px;
  z-index: 999;
  transition: 1s;
}
#drop-two ul {
  padding-left: 0;
}

section#drop-two h4 {
  font-family: "Helvetica";
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 33px;
  padding-top: 40px;
}
section#drop-two ul li a {
  font-family: Bell MT;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  line-height: 1.882;
}

section#drop-two .auth-image {
  padding-top: 42px;
  width: 85%;
}
section#drop-two .auth-image2 {
  padding-top: 28px;
  width: 85%;
}
p.colomb {
  color: #565656;
  font-size: 14px;
  font-family: "Helvetica";
}
p.flower-rd {
  padding-top: 42px;
  color: #454545;
  font-size: 14px;
  line-height: 1.8;
  font-family: "Helvetica";
}
.clt-image {
  padding-left: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: #f2f2f2;
}

.clt-height {
  height: 100%;
}

#drop-two .drow-ico #first-drop1 {
  display: inline-block;
  margin-left: -17px;
  padding-top: 5px;
}

.drow-ico li {
  float: left;
  padding: 0px 20px;
}
.display-on {
  display: block !important;
  transition: 1s;
}

/*submenu01*/

/*drop one*/
section#drop-one h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900 !important;
  padding-bottom: 33px;
  padding-top: 40px;
  font-family: "Helvetica";
}

section#drop-one ul li a {
  font-family: Bell MT;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  line-height: 1.882;
}
section#drop-one ul {
  padding-left: 0px;
}
li.vall-btn a {
  font-size: 13px !important;
  color: #ff6b00 !important;
  font-family: helvetica !important;
}
/*.about-pln:hover #first-drop1 {display: block }*/

.normal-sub {
  display: block;
}

/*panel color*/

.panelsec-pd {
  background: #f2f2f2;
  padding-top: 50px;
}
.panelsec-pdd {
  padding-top: 50px;
}

/*.display-on{*/
/*    display: block;*/
/*}*/

li.icons i {
  margin-right: 8px;
}

li.icons {
  margin-top: 39px;
}
.panel-time {
  color: #565656;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  font-size: 12px;
}
p.colmbo7 {
  font-size: 15px;
  color: #565656;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
}
p.addres7 {
  font-family: "Open Sans", Helvetica;
  color: #565656;
  font-weight: 600;
  font-size: 14px;
}

#first-drop {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 140px;
  background: #fff;
  z-index: 99;
}
.tog {
  display: block;
}
#first-drop1 {
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  height: 362px;
  margin-top: 0px;
  z-index: 9999;
  transition: 1s;
  display: none;
}

section#first-drop1 h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800 !important;
  padding-bottom: 33px;
  padding-top: 40px;
}
section#first-drop1 ul li a {
  font-family: helvetivca;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  line-height: 1.882;
}
section#first-drop1 .auth-image {
  padding-top: 42px;
  width: 85%;
}
section#first-drop1 .auth-image2 {
  padding-top: 28px;
  width: 85%;
}
#first-drop1 .drow-ico {
  display: inline-block;
  margin-left: -17px;
  padding-top: 5px;
}

section#first-drop ul {
  padding-left: 0;
}
section#first-drop1 ul {
  padding-left: 0;
}
.sub-wrap {
  padding-top: 0px !important;
}
.sub-wrap h4 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 50px;
  text-transform: uppercase;
}

#first-drop ul li a {
  text-decoration: none;
  font-family: "Bell MT";
  color: #000;
}

#first-drop ul li a:hover {
  color: red;
}

section#first-drop ul li {
  padding: 2px 0;
}

/*end submenu*/

.policy {
  display: none;
}

#drop-two ul li a:hover {
  color: #ff6b00;
}

#drop-two ul li a:hover {
  color: #ff6b00;
}

#feed p {
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  color: rgb(69, 69, 69);
  line-height: 1.8;
  text-align: left;
  font-weight: 600;
  text-align: justify;
  padding-right: 120px;
}

div#headingOne1 {
  width: 24%;
  display: inline-block;
  margin: 0 auto;
}

div#headingTwo2 {
  width: 24%;
  display: inline-block;
  margin: 0 auto;
}

div#headingThree3 {
  width: 24%;
  display: inline-block;
  margin: 0 auto;
}

.faq-up-text {
  color: #848484;
  font-size: 14px;
  line-height: 1.786;
  padding: 0px 48px;
  display: none;
}

a[aria-expanded="true"] .fa-chevron-right {
  display: none;
  transition: 300ms;
}
a[aria-expanded="false"] .fa-chevron-down {
  display: none;
  transition: 300ms;
}

i.fa.fa-chevron-right.pull-right {
  font-size: 15px;
  color: #011a5f;
  transition: 300ms;
}

i.fa.fa-chevron-down.pull-right {
  font-size: 15px;
  color: #011a5f;
}

.faq-tit {
  text-decoration: underline;
}
#feed .feed-wrap:after {
  content: "";
  width: 94%;
  height: 1px;
  background: #d5d5d5;
  position: absolute;
  bottom: 0;
  left: 15px;
}
#feed .feed-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

h2.tit1 {
  padding-right: 54px;
}

/* .tit2 {
    margin-right: 53px;
} */
/* h2.serv-title.tit3 {
    margin-right: 54px;
} */

/*finla chage*/
i.fas.fa-chevron-right {
  display: none;
}
select.langselectbar {
  display: none;
}

#second-nav ul li:nth-child(1) {
  /* padding-left: 0px; */
}
#second-nav ul li:nth-child(7) {
  /* padding-right: 0px; */
}
#text-serch {
  margin-top: -5px;
}
/* end finla chage*/

.collection-show {
  display: none;
}

ul {
  list-style: none;
}

/* contact page style */
.faq-button {
  width: 165px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  line-height: 46px;
  border: solid 2px #c2c2c2;
  margin-top: 30px;
}

.faq-button a {
  font-family: "Bell MT";
  text-decoration: none;
  font-style: italic;
  color: #fff;
  line-height: 45px;
  font-size: 18px;
}

.contact-top-text p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8;
}

.custom-control.custom-radio {
  display: inline;
}

.contact-top-text {
  margin-top: -6px;
}

/*fonm section*/
form.form-section {
  padding-top: 23px;
}
label {
  font-size: 14px;
  color: #565656;
  font-weight: 600;
  margin-bottom: 14px !important;
}

select#exampleFormControlSelect1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
}

input#exampleInputEmail1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
  height: 38px;
}
textarea#exampleFormControlTextarea1 {
  border-radius: 0px !important;
  font-size: 14px;
  color: #000;
}

.box-sec-from {
  padding-top: 0px;
}

.send-contat {
  width: 100%;
  height: 50px;
  background: #05205f;
  text-align: center;
  line-height: 50px;
}

.send-contat a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

h2.contant-service-text {
  font-size: 30px !important;
}

.service-sentnce {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  font-weight: 600;
}

.service-sentnce p {
  color: #484848f0;
  line-height: 1.8;
}
.inq-tel-num {
  font-family: "Helvetica Light";
  font-size: 20px;
  color: rgb(69, 69, 69);
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 2px;
  padding-bottom: 35px;
}
.inq-tel {
  font-size: 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  line-height: 2.333;
  color: rgb(69, 69, 69);
  margin-bottom: 0;
}

.phone-number {
  padding-bottom: 50px;
}
/* end style */

#top-head ul li a:hover {
  color: #ff6b00;
  transition: 300ms;
}
/* .serv-title {
    text-align: right !important;
    padding-right: 21px !important;
} */
#text-serch {
  display: none;
}

.policy {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #182e63c7;
  top: 141px;
  color: #fff;
}

span.policy-text {
  font-size: 14px;
  line-height: 40px;
}

span.policy-close {
  position: absolute;
  right: 11px;
  padding: 9px 10px;
  font-size: 20px;
  top: -5px;
  cursor: pointer;
}

span.policy-close:hover {
  color: #ff6b00;
}

#second-nav ul li:hover a {
  color: #ff6b00;
}

/* header section */
div#top-head ul {
  margin-right: 6px;
  margin-top: 0px;
}

ul.language-list {
  margin-left: -15px;
}
/*end header section */
/*mobile section */
/* scroll navitgation */
.scrollUp {
  transition: 1s;
  transform: translateY(-100px);
}
.sticky {
  display: none;
  transition: 1s;
}
.stickyshow {
  display: block;
  transition: 1s;
}

.stickynav {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  left: 50%;
  margin-left: -50%;
  background: url(../img/head-img.png);
  box-shadow: 3px -3px 10px 0px #525252;
}

.stik-nav ul {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.nanigation-stick {
  max-width: 960px;
  height: 110px;
  background: #fff;
  margin: 0 auto;
}

.stik-nav ul {
  padding-top: 3em;
  padding-right: 41px;
}

.stik-nav ul li {
  padding: 0 24px;
}

.logoStick {
  margin-top: -35px !important;
}
.stik-nav ul li a {
  font-family: "Open Sans", Helvetica;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  padding: 0 6px;
  font-weight: 500;
}

img.search-ico {
  top: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.stik-nav ul li:hover {
  border-bottom: solid #ff6b00 4px;
}

.stik-nav ul li {
  padding-bottom: 0px;
  cursor: pointer;
  transition: 300ms;
  padding: 4px 20px 27px 28px;
}
.stik-nav ul li:hover:nth-child(4) {
  border: none;
  cursor: none;
}
.active {
  border-bottom: solid #ff6b00 4px;
  /* padding-left: 0px !important;
    padding-right: 0px !important; */
  /* margin-left: 25px; */
  /* margin-right: 10px; */
}

.foot-link ul li:hover a {
  color: #ff6b00;
  transition: 300ms;
}
/*heder icon*/
i.fas.fa-chevron-right {
  position: absolute;
  top: 46px;
  left: 60px;
  font-size: 13px;
  color: #0000008f;
}

select.langselectbar {
  font-family: "Helvetica Oblique";
  font-size: 14px;
}
/* end sitck */
#overlay {
  display: none;
}
.mobile-toggle {
  display: none;
}
.mobile-nav-sec {
  display: none !important;
}
.mobile-nav-sec {
  width: 100%;
  height: 160px;
}
.img-tag {
  width: 150px;
  height: 110px;
}
.img-tag img {
  width: 100%;
  height: auto;
}

.mobile-nav-sec {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.img-tag h4 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  font-weight: normal;
  color: #555;
}
.fa,
.fas {
  font-weight: 900;
  float: right;
  font-size: 19px;
  margin-top: 5px;
  padding-left: 7px;
}
/* end mobile */
/* header */
ul.language-list {
  float: left;
}

.search {
  outline: none;
  /* box-shadow: 0 4px 5px #efefef; */
  height: 27px;
  /* width: 16%; */
  width: 64%;
  border: 2px solid #bdb8b8;
  background-color: white;
  /* border-radius: 16px 16px 16px 16px; */
  /* margin-left: -14px; */
  margin-left: -2px;
  border: 0;
  border-bottom: 1px solid black;
}

.langselectbar {
  outline: none;
  border: none;
}
/* end header */

/* currunt tuf */

#service-imgs h1 {
  font-family: "Helvetica Light";
  color: #fff;
  font-size: 48px;
  margin-top: -50px;
}
.mid-ft {
  font-family: "Helvetica Oblique";
  color: #fff;
  font-size: 55px;
  font-style: oblique;
}
.navig {
  height: 140px;
  background: url(../img/head-img.png);
  background-repeat: repeat;
  box-sizing: border-box;
  position: relative;
}

.fixed_menu {
  position: fixed !important;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  /* transition: height 0.5s ease-out; */
}

.fixed_menu_margin {
  margin-top: 53px !important;
}

.fixed_menu_height {
  height: 116px !important;
  /* transition: height 0.5s ease-out; */
}

.menu_display_none {
  display: none;
  /* transition: display 0.15s ease-out; */
}

.main-menu {
  max-width: 960px;
  height: 140px;
  background: #fff;
  margin: 0 auto;
  padding-right: 30px;
  position: relative;
  /* transition: height 0.5s ease-out; */
}

.thin-font {
  font-weight: 500 !important;
}

#top-head ul li {
  display: inline-block;
  float: right;
  padding: 20px 16px 40px 15px;
}
#top-head ul li a {
  font-family: Helvetica;
  font-size: 12px;
  color: #a0a0a0;
  text-decoration: none;
  text-transform: capitalize;
}
.fa,
.fas {
  font-weight: 900;
  padding-right: 10px;
  color: #4e4e4e;
}

div#second-nav {
  display: inline-block;
  margin: 0 auto;
  margin-top: -18px;
  z-index: 9;
}
#second-nav ul li {
  display: inline-block;
  /* padding: 0 10px;
    padding-left: 25px;
    padding-right: 10px; */
  padding-bottom: 32px;
  margin-left: 25px;
  margin-right: 10px;
}

ul.shiping-nav {
  padding-top: 12px;
}

#second-nav ul li:hover:nth-child(4) {
  border: none;
}

#second-nav ul li:hover {
  border-bottom: solid #ff6b00 4px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 25px;
  margin-right: 10px;
}

/* header */
div#second-nav ul li a {
  font-family: "Bell MT";
  color: rgb(24, 24, 24);
  text-decoration: none;
  font-size: 17px;
  padding: 0 6px;
  font-weight: 200;
}
/* end header */

/* re arange logoo */
img.logo {
  margin-top: -3em !important;
  width: 130px;
}

#service-img {
  background: url("../../img/all_jewelry.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#shipinner-img {
  background: url("../../img/Shipping_Inner_BannerImage.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#retpolicyinner-img {
  background: url("../../img/Return_Policy_InnerBAnner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#service-imgs {
  background: url("../../img/ServiceBanner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 64vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.after_sales_banner {
  background: url("../../img/After sales_Inner_Banner.jpg") no-repeat !important;
}

#blue-box {
  width: 100%;
  margin-top: -6rem;
}
.box-content {
  padding: 66px 90px;
  background: #05205f;
  width: 90%;
  margin: auto;
  transform: translateY(12px) !important;
}
.box-content p {
  font-family: "Bell MT";
  font-size: 20px;
  line-height: 1.75;
  color: #fff;
  text-align: center;
  font-style: italic;
  margin-bottom: -4px;
}

.card-img-top {
  width: 93%;
  height: 185px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.cotact-link a {
  font-weight: 700;
  font-family: "Helvetica";
  color: rgb(59, 59, 59);
  text-decoration: underline;
  line-height: 2.917;
  cursor: pointer;
  font-size: 12px;
}

/* tile section */

#tiles {
  margin-top: 99px;
  padding-bottom: 10px;
  padding-left: 24px;
}
.font-img {
  width: 259px;
  height: 95px;
  background: url("../img/tile-front-01.jpg");
  margin: -3rem auto 0 auto;
}
.font-img h4 {
  text-align: center;
  line-height: 95px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: "Helvetica";
  font-size: 16px;
}

/* card section  */
.faq-tit {
  font-family: "Open Sans", Helvetica;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  color: rgb(64, 64, 64);
}
.faq-body p {
  padding: 20px;
  text-align: justify;
  font-family: "Open Sans", Helvetica !important;
}
.fa-angle-down:before {
  content: "\f107";
  color: #1a73e8;
  opacity: 0.7;
}

.rot-ico {
  transform: rotate(180deg);
}
div#accordionEx {
  padding-bottom: 30px;
}
.card-header {
  padding: 0 25px 5px 25px;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}

.card1 {
  background: #fff !important;
}
.card-header a {
  text-decoration: none;
}

.title-section-card {
  width: 74%;
  height: 97px;
  background-color: #031f60;
  margin: 0 auto;
  transform: translate(0, -57px);
  margin-right: 47px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #5a5555;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(218, 218, 218);
}

.title-section-card h2 {
  font-family: "Bell MT";
  color: rgb(255, 255, 255);
  line-height: 97px;
  text-align: right;
  font-size: 22px;
  padding-right: 60px;
}

.patarn-img {
  float: right;
  width: 54px;
  height: 97px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/patern-final.jpg);
}
.card {
  border: none;
}

.card-body a {
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  text-transform: uppercase;
  color: #05205f;
  font-weight: 600;
  text-decoration: underline;
}

.card-body {
  padding-top: 0rem !important;
  padding-bottom: 1.2rem !important;
  padding-left: 0px !important;
  padding-right: 1.2rem !important;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.card-body.bd-body:after {
  content: "";
  width: 90%;
  height: 1px;
  background: #8e8a8a52;
  position: absolute;
}

.juwelry-details p {
  height: 100px;
}

p.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgb(69, 69, 69);
  line-height: 1.6;
  margin-top: -26px;
  text-align: left;
  border-bottom: solid 10px #ffffff;
}

p.card-text a {
  text-decoration: underline;
}

p.card-btn a {
  font-size: 14px;
  color: rgb(5, 32, 95);
  line-height: 2.917;
  text-decoration: underline;
  text-align: left;
  font-weight: 600;
  font-family: "Open Sans", Helvetica;
}
p.card-text.middle-txt {
  padding-bottom: 30px;
}
/* seek-help */
#seek-help {
  height: auto;
  background: #ededed;
  text-align: center;
}

#seek-help h2 {
  font-family: "Helvetica Light";
  line-height: 1.4;
  color: rgb(64, 64, 64);
  padding-top: 57px;
  padding-bottom: 26px;
  font-weight: normal;
  font-size: 25px;
}

.seek-text-1 {
  padding: 0 45px 20px 45px;
}

.seek-text-1 p {
  font-family: "Helvetica", Open Sans;
  font-size: 15px;
  line-height: 1.667;
  color: rgb(69, 69, 69);
  font-weight: 600;
  font-style: italic;
}

.seek-text {
  padding: 0 20px;
}

#seek-help form {
  width: 100%;
}
.form-sec {
  padding-bottom: 46px;
}

.seek-text p {
  font-size: 14px;
  color: rgb(132, 132, 132);
  padding-bottom: 40px;
  line-height: 1.786;
  font-style: italic;
  font-weight: 400;
}

p.cotact-link {
  padding-bottom: 23px;
}

/* form section */
input.form-control.input-seek {
  font-family: "Open Sans", Helvetica;
  border-radius: 0;
  font-weight: 600;
  border: solid 1px #a4a4a4 !important;
  height: 41px !important;
  background: #ededed;
  font-size: 14px;
}

select.form-control.form-control-sm.drop-seek {
  font-family: "Open Sans", Helvetica;
  border-radius: 0;
  font-weight: 600;
  border: solid 1px #a4a4a4 !important;
  height: 41px !important;
  background: #ededed;
  font-size: 14px;
}

/* form end */

/* end seek-help */

/* feed */
#feed {
  height: auto;
  padding-top: 84px;
}
#feed h3 {
  font-size: 25px;
  font-family: "Helvetica Light";
  color: rgb(28, 28, 28);
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 42px;
  margin-top: -10px;
}

#feed p {
  font-family: "HelveticaNeue-Light";
  font-size: 18px;
  color: rgb(69, 69, 69);
  line-height: 1.6;
  text-align: left;
}
#feed .feed-sec-text {
  padding-bottom: 5px;
}

#feed .feed-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}

.final-text {
  font-style: italic;
  color: #141414 !important;
}

i.fas.fa-search {
  position: absolute;
  right: 0;
  top: 9px;
  margin-right: 20px;
  color: #606060;
  transform: rotate(90deg);
}

.photo-cust {
  width: 309px;
  height: 309px;
}

/************************* card section colombo *************************************/
.colombo-box {
  padding: 0;
  margin-top: -20px;
  font-size: 15px;
  color: rgb(86, 86, 86);
  line-height: 1.8;
  font-family: "Helvetica";
  font-weight: 600;
}

.colombo-box-1 {
  font-family: "Helvetica";
  line-height: 1.8;
  font-size: 14px;
  color: rgb(86, 86, 86);
  font-weight: 500;
  padding-top: 17px;
}
.colombo-box-2 {
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: bold;
  color: rgb(69, 69, 69);
  line-height: 2.25;
  margin-top: -5px;
}

.craft-h {
  font-size: 13px;
  font-family: "Helvetica";
  line-height: 2.25;
  color: rgb(86, 86, 86);
  font-weight: 800;
}

.craft-address {
  font-size: 12px;
  font-family: "Helvetica";
  line-height: 2;
  color: rgb(86, 86, 86);
}
/************************* end card *************************************/

/************************* form section *************************************/
.condition-text {
  font-size: 13px;
  font-style: italic;
  color: #707070;
  line-height: 1.8;
  font-weight: 600;
  font-family: "Open Sans", Helvetica;
}

.send-btn-sec {
  padding-top: 12px;
}

.send-button {
  padding: 9px 77px;
  border-radius: 0px;
  background: #05205f;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Dai-Banna-SIL-Light-Bold";
}

.btn-link:hover {
  color: #fff;
  background-color: #05205fd9;
  border-color: transparent;
  text-decoration: none;
}
.modal-content {
  border: dashed #011a5f 1px;
  border-radius: 0px;
}
.send-button {
  width: 100%;
}
/************************* end form secion *************************************/

/*************************recaptcha *************************************/
.rc-anchor-normal {
  height: 54px;
  width: 222px;
}
/*************************end recaptcha *************************************/

/* footer */
footer#footer-secs {
  background: #c1c1c1;
}
#footer-secs {
  display: flex;
}

.foot-link {
  margin: 0 auto;
  padding-top: 40px;
  font-family: HelveticaNeue-Light;
}
.foot-link ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  padding-right: 60px;
  justify-content: center;
}
.foot-link ul li {
  display: inline-block;
  padding-left: 20px;
}
.foot-link ul li a {
  text-decoration: none;
  font-size: 17px;
  color: #ff6b00;
  font-weight: 400;
}

/*link section*/
.wrap-icon-menu {
  margin: 0 auto;
}

.wrap-icon-menu ul {
  list-style: none;
  padding-right: 60px;
}
.wrap-icon-menu ul li {
  display: inline-block;
  margin: 0px 15px;
  border-radius: 100%;
  font-size: 10px;
}
.wrap-icon-menu ul li i {
  font-size: 18px;
  color: #ff6b00;
}

.wrap-icon-menu ul li i:hover {
  cursor: pointer;
}

/* bottom section */
#bottom-copyright ul {
  list-style: none;
  text-align: center;
}
#bottom-copyright ul li {
  display: inline-block;
  padding: 0 8px 0 0;
}

#bottom-copyright {
  background: #dbdbdb;
}

.bottom-foot-text a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}
.date-hema {
  float: right;
  font-size: 13px;
}

#footer-secs img {
  display: flex;
  margin: 0 auto;
  width: 50px;
  height: auto;
}
/* footer */
* footer */ footer#footer-secs {
  background: #c1c1c1;
}
#footer-secs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-link {
  margin: 0 auto;
  padding-top: 40px;
}
.foot-link ul {
  list-styl: none;
  display: inherit;
  margin: 0 auto;
  text-align: center;
}
.foot-link ul li {
  display: inline-block;
  padding-left: 20px;
}
.foot-link ul li a {
  text-decoration: none;
  font-size: 17px;
  color: #5f5f5f;
  font-weight: 400;
}

/*link section*/
.wrap-icon-menu {
  margin: 0 auto;
}

.wrap-icon-menu ul {
  list-style: none;
}
.wrap-icon-menu ul li {
  display: inline-block;
  margin: 0px 15px;
  border-radius: 100%;
  border: 2px solid #949292;
  border-radius: 100%;
  width: 24px;
  font-size: 8px;
  padding: 4px 5px 4px 5px;
  text-align: center;
}
.wrap-icon-menu ul li i {
  font-size: 10px;
  color: #5d5b5b;
}

.wrap-icon-menu ul li:hover {
  background-color: #ff6b00;
}

.wrap-icon-menu ul li i:hover {
  cursor: pointer;
}

/* bottom section */
#bottom-copyright ul {
  list-style: none;
  text-align: center;
}
#bottom-copyright ul li {
  display: inline-block;
  padding: 0 8px 0 0;
}
#bottom-copyright ul li a {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 12px;
}
#bottom-copyright ul li a:hover {
  color: #ff6b00;
}
#bottom-copyright {
  background: #dbdbdb;
  padding-left: 90px;
}

.bottom-foot-text a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

.foot-kandy {
  margin: 0 auto;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.foot-kandy ul {
  list-styl: none;
  display: inline-block;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
.foot-kandy ul li {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  /*  padding-left: 20px;*/
}
.foot-kandy ul li a {
  text-decoration: none;
  display: inline;
  padding-left: 0;
  padding-right: 0;
  float: none;
  font-size: 15px;
  color: #ff6b00;
  font-weight: 400;
  border-bottom: 3px solid #ff6b00;
}

footer#footer-secs {
  border-bottom: 3px solid rgba(251, 128, 108, 0.97);
}
/* end footer */

/*expand section*/
.faq-body p {
  padding: 20px;
  text-align: justify;
  font-family: "Helvetica Bold Oblique";
  font-size: 15px;
  color: rgb(69, 69, 69);
  line-height: 1.667;
}

.faq-accordion-section {
  margin-top: 100px;
}

.faq-accordion-btn {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.faq-accordion-btn:hover {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.faq-accordion-content-area {
  padding: 10px 5px;
}

.faq-bullet {
  padding-right: 10px;
}

/* media */

@media (max-width: 1024px) {
  #second-nav ul li {
    padding-left: 4px;
    padding-right: 4px;
  }
  div#top-head ul {
    margin-right: -14px;
    margin-left: -5px;
  }

  i.fas.fa-chevron-right {
    left: 52px;
  }
}

@media (max-width: 768px) {
  /*responsive section    */
  #service-img {
    height: 70vh !important;
  }

  #service-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10rem;
  }

  #headingTwo2 {
    width: 60% !important;
  }

  #headingOne1 {
    width: 60% !important;
  }

  #headingThree3 {
    width: 60% !important;
  }

  #feed p {
    padding-right: 0px;
  }
  /*end responsive section*/

  /*footer section*/
  .foot-link ul {
    padding-right: 0px;
  }

  /*end footer section*/

  #carouselExampleIndicators {
    top: 10rem;
  }

  #middle-three {
    transform: translateY(35%) !important;
  }

  .main-three-sec img {
    width: 100%;
    height: 100px;
  }

  .three-sentence p {
    font-size: 11px;
  }

  .title-section-card h2 {
    font-family: "Helvetica Oblique";
    color: rgb(255, 255, 255);
    line-height: 80px;
    text-align: center;
    font-size: 22px;
    margin-right: 53px;
  }

  .box-content {
    padding: 28px 25px;
    transform: translateY(36px);
  }

  .card-img-top {
    width: 100%;
  }
  .policy {
    top: 160px;
  }
  .sticky {
    display: none;
  }
  /* middle box */
  .box-content p {
    font-size: 17px;
  }

  .box-content {
    padding: 40px 25px;
  }

  #service-img h1 {
    font-family: "Helvetica Light";
    color: #fff;
    font-size: 30px;
    margin-top: 0px !important;
  }
  .mid-ft {
    font-family: "Helvetica Oblique";
    color: #fff;
    font-size: 40px;
    font-style: oblique;
  }

  section.mobile-sec {
    position: fixed;
    background: #fff;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    z-index: 99999;
  }

  /* end box */

  /* all text */
  .card-text {
    font-size: 14px;
    padding-bottom: 26px;
  }

  .card-text .midtext-card {
    padding-bottom: 71px !important;
  }

  /* end text */

  select.form-control.form-control-sm.drop-seek {
    margin-bottom: 20px;
  }
  .feed-wrap img {
    width: 100%;
  }
  #main-menu-back {
    display: none;
  }

  /* bottom foooter */
  .date-hema {
    float: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
  /* mobiile section */
  .mobile-nav-sec {
    display: flex !important;
  }

  .mobile-toggle {
    display: block;
    width: 100%;
    height: 100vh;
  }
  nav#overlay {
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    height: 106vh;
    z-index: 9999;
    display: none;
  }
  #overlay ul {
    list-style: none;
    margin: 10% auto 0 auto;
    padding: 0;
  }

  i.fas.fa-times {
    font-size: 24px;
    float: right;
    padding: 20px 30px;
    cursor: pointer;
  }

  #overlay ul li {
    padding: 10px 0;
    text-decoration: none;
  }
  #overlay ul li a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }

  #overlay ul {
    list-style: none;
    margin: 0% auto 0 auto;
    padding: 0;
    text-align: center;
  }

  .foot-link ul li {
    display: flex !important;
    justify-content: center;
    padding-bottom: 25px !important;
    padding-right: 5px !important;
  }
  .bc-contect {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-slider-img-area {
    margin-top: 198px;
  }

  .disc-main p {
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .three-sentence h4:before {
    top: 60px;
  }

  /*responsive section */
  #headingTwo2 {
    width: 100% !important;
  }

  #headingOne1 {
    width: 100% !important;
  }

  #headingThree3 {
    width: 100% !important;
  }

  /*end resoponsive section*/

  /*///////////*/
  .three-sentence p {
    display: none;
  }
  div#carouselExampleIndicators img {
    width: 100%;
    height: 50vh;
  }

  .three-sentence h4 {
    font-size: 18px;
    line-height: 70px;
  }

  /*.three-sentence h4:after {*/
  /*    content: '';*/
  /*    width: 55px;*/
  /*    height: 3px;*/
  /*    background: white;*/
  /*    position: absolute;*/
  /*    top: 31px;*/
  /*    left: 0;*/
  /*}*/

  .three-sentence p {
    font-size: 14px;
    padding: 15px 0;
  }

  #special-ship .caid-image {
    height: 246px;
  }

  #special-ship .caid-image img {
    left: 0px;
  }

  #special-card .caid-image {
    height: 246px;
  }

  #special-card .caid-image img {
    right: 0px;
  }

  #main-bot-card img {
    height: 200px;
  }

  .wrap-final-card {
    margin: 0;
    transform: translate(43px, -103px);
  }
  /*////////////////////////*/
  .title-section-card {
    margin-right: 40px !important;
  }
  .card-img-top {
    width: 100%;
  }
  .seek-text p {
    font-size: 14px;
  }

  #feed p {
    font-size: 14px;
  }

  .date-hema {
    float: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
  .wrap-icon-menu ul li {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #949292;
    border-radius: 100%;
    width: 24px;
    font-size: 8px;
    padding: 4px 5px 4px 3px;
    text-align: center;
    margin: 1px 7px;
  }
  #bottom-copyright ul li {
    display: flex;
    justify-content: center;
    padding: 10px 8px 0 0;
  }
  span.date-hema {
    display: block;
    text-align: center;
  }
  .col-md-3.bottom-foot-text.date-hemas {
    display: flex;
    justify-content: center;
    margin-left: 31px !important;
    padding-top: 20px !important;
  }
  #service-img h1 {
    font-size: 30px;
  }
  .mid-ft {
    font-size: 30px;
  }

  #bottom-copyright {
    background: #dbdbdb;
    padding-left: 0px;
  }

  .service-sentnce {
    width: 90%;
  }

  .main-three-sec img {
    width: 100%;
    height: 85px;
  }

  .main-slider-img-area {
    margin-top: 200px;
  }

  .disc-main p {
    margin-top: 25px;
  }
}

@media (max-width: 375px) {
  /*index*/
  #special-card .caid-image {
    height: 216px;
  }

  #special-ship .caid-image {
    height: 218px;
  }

  p.heamchandra-paragraph {
    font-size: 15px;
  }

  .wrap-icon-menu ul {
    padding-right: 0px;
  }

  /*end inded*/
}
@media (max-width: 325px) {
  .wrapper-middle {
    border-bottom: none;
  }

  .wrap-icon-menu ul li i {
    font-size: 13px;
    color: #ff6b00;
  }

  /*index page section*/
  div#carouselExampleIndicators img {
    height: 35vh;
  }

  .main-three-sec img {
    height: 100px;
  }

  #middle-three {
    transform: translateY(78%) !important;
  }

  .disc-main p {
    font-size: 18px;
    line-height: 25px;
  }

  .disc-main {
    padding-top: 40%;
  }

  #special-card .caid-image {
    height: 180px;
  }

  #special-ship .caid-image {
    height: 180px;
  }

  .wrap-final-card {
    width: 80%;
    padding: 28px 26px;
  }

  .wrap-final-card {
    transform: translate(34px, -103px);
  }
  /*end index page section*/

  .three-sentence h4:before {
    top: 60px;
  }
}
