
body{
  font-family:'Open-sans', sans-serif;
  font-size:17px;
  background-image:url('images/up.png');
  line-height:1.5em;
  margin:0;
  padding:0;
}



.img-up {
    height: 100px;
    overflow: hidden;
}

img{
  width:100%;
}

.up-logo img{
    height: 72px;
    width: 232px;
     display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 50px;
}
   

.container{
  margin:auto;
}

/* COMMON CLASSES */
.primary-text{
  color:#56a79a;
}

.primary-background{
  background:#56a79a;
}

/* HEADER */
#main-header{
  border-bottom:1px solid #56a79a;
}

/* NAVBAR */
#navbar{
  text-transform:uppercase;
}

#navbar li{
  display:inline;
  padding-right:20px;
  list-style:none;
}

#navbar a{
  text-decoration:none;
  color:#888;
}

#navbar li.current a, #navbar a:hover{
  color:#56a79a;
  border-bottom: 3px solid #56a79a;
  padding-bottom:3px;
}

/*Nav bar ends*/

.bg-color{
width: 100%;
background-color: rgb(219,219,219) ;

}

.container1 {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  background: #fff;
  margin: 100px 0;
  
  
}
.container1 a{
  border-bottom: #ff6b00 5px solid;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: -18px;

}


.container1 a:hover{
  color: #ff6b00;
}

.logo {
  order: 1;
  padding: 0.5em;
  border-radius: 100%;
  background: #111;
  box-shadow:
  0 0 0 3px #beddef,
  0 0 0 15px #111;
  font-size: 64px;
  color: #beddef;
  line-height: 32px;
  padding: 35px;
}
.item {
  color: #111;
  text-decoration: none;
  font-family: sans-serif;
 
}

.item{
  padding: 28px 0px;
}
.item:nth-of-type(n+4) {
  order: 2;
}


/* item 1 */
.item1 {
  color: #ff6b00;
  text-decoration: none;
  font-family: sans-serif;
  padding-left: 0px;
  margin-left: 0px;
 
}

.item1{
  padding: 28px 0;
}
.item1:nth-of-type(n+4) {
  order: 2;
}

/*Header UP*/
.header-up{
    margin-top: 20px;
    margin-left: 86%;
    display: inline;
    margin-bottom: 0;
   
    
}
.header-up a{
    text-decoration: none;
    border: none;
    padding-left: 10px;
    margin-top: -50px;
    color:darkgray;
}

/*header up ends*/

/* ends item1 */

.container1 .item{
  margin-left: 0px;
  padding-right: 5px;
}
@media all and (max-width: 800px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    text-align: center;
    width: 80px;
    margin: auto auto 10px;
  }
  .item {
    text-align: center;
    border-bottom: 1px solid #111;
  }
}


/* SHOWCASE */
#showcase{
  background:url('../images/landing11 (Copy).jpg') no-repeat center center;
     width: 100%;
  height: auto;
/*   margin-top: -25px; */
    
}


#showcase .row{
  height:500px;
   
}

#showcase h1{
  font-size:50px;
  margin:0;
  padding-bottom:20px;
}

#showcase p{
  color:#ccc;
  margin:0;
}

/* #showcase .showcase-content{
  background:#333;
  color:#fff;
  border-radius:90px;
  padding:40px;
  opacity:0.9;
} */

/*blue card*/
#blue-card{
  border-style: solid;
  
    -webkit-box-align: center;
  
        -ms-flex-align: center;
  
            align-items: center;
/*    background-color: rgba(7, 7, 123, 0.97);*/
   
    color: #fff;
    
    margin-bottom: 100px;
    

}
#blue-card .blue-line{
  margin-top: -18%;
     background-color: #05205f;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right:20px;
    margin-left: -5%;
    margin-right: -5%;
     align-items: center;
    border width: 100px;
        
}

#blue-card .heading-up{
  font-size: 25px;
  font-family: "Bell MT";
    line-height: 1.4;
}

#blue-card p{
    font-family: "Helvetica";
}

#blue-card .italy{
  font-size: 12px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  text-decoration: underline;
text-transform: uppercase;
  text-align: center;
  font-weight: 100;    
  
}

#blue-card .blue-line .address{
   text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}

#blue-card .blue-line .normal{
   text-align: center;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    
}


#blue-card .tel{
   text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    
}

#blue-card .blue-line .normal{
   text-align: center;
    font-weight: 100;
     margin-top: 0;
    font-family:"Helvetica";
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}

#blue-card #blue-para{
    font-size: 14px;
  font-family:"Helvetica";
     line-height: 1.667;
    
}

/*Blue card ends */


/*Paragraph section starts*/

#paragraph .paragraph{
    text-align: left;
    margin-top: -10%;
    margin-left: 5%;
    
  position: absolute;
}

#paragraph .paragraph h1{
    color: rgb(5, 32, 95);
   font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-top: 3px;
    margin-left: 0;
    font-weight: 300;
/*    text-align: left;*/

}

#paragraph{
    margin-bottom: 200px;
}
#paragraph .paragraph p{
    font-family: "Myriad Pro";
    line-height: 1.533;
    font-size: 17px;
    padding-right: 30px;
    margin-bottom: 100px;
    

}

#paragraph .paragraph p1{
    margin-left: 1px;
    padding-left: 1px;
    font-family: monospace;
    letter-spacing: 0.5rem;
    color: #ff7600;
    
}

/*Paragraph section ends*/

/* FEATURES section starts */
#features{
  margin-top: 50px;
}
#feature2 h1{
padding-top: 40px;
}
#feature2{
  margin-top: 50px;
}

}
#features h2{
  font-size:35px;
  margin:0;
  padding-bottom:10px;
}

#features p{
  color:#888;
  margin:0;
  margin-bottom:40px;
}

#features .fa{
  font-size:60px;
  color:#56a79a;
}
#feature1 img{

    margin-top: -18px;
  
}

#feature1{
  margin-top: 130px;
  margin-bottom: 200px;
 
}

#feature1 #founder{
    
  margin-bottom: 5px;
  text-align: left;
 
    font-weight: 2rem;
 
   color: #ff7600;
  font-size: 1rem;
    font-family: monospace;
    letter-spacing: 0.5rem;
    color: #ff7600;
}
#feature1 h1{
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 70px;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
   color: rgb(5, 32, 95);
}
#feature1 h4{
 
  text-align: left;
  margin-left: 70px;
  margin-top: 0px;
  font-family: monospace;
    letter-spacing: 0.5rem;
    color: #ff7600;
  font-weight: 200;
 
  
  
}
#feature1 h5{
 
  text-align: left;
  margin-left: 70px;
  margin-top: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 2;
  color:#ff6b00;
  font-weight: 400;
  text-decoration: underline;
  
  
}
#feature1 p{
  text-align: left;
  margin-left: 70px;
    
    
    
}

/*Feature Section Ends*/

.section-last{
    padding-top: 200px;
}

#feature1{
   padding-top: -350px;
    
}

/* INFO */
#info{
  background:#333 url('../images/info-bg.jpg') no-repeat;
  color:#fff;
}

#info h2{
  font-size:35px;
  margin:0;
  padding-bottom:10px;
}

#info ul{
  list-style:none;
  padding:0;
}

#info li{
  line-height:2em;
  font-size:20px;
}

/* COMPANY */
#company{
  background:#c1c1c1;
  color:#fff;
  padding:10px 0;
}

#company h4{
  text-transform:uppercase;
  margin-bottom:0;
}
#company img{
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  float: right;
  align-items: center;
}

.foot1 a{
  text-align: center;
  align-content: center;
  align-items: center;
}

#company .container2 .item1 a{
  text-align: center;
  float:right ;

#company input[type="text"]{
  padding:7px;
}

line-art
/* #company .foot1 a{
  position: left;
  clear: both;
  color: #ffffff;
  background-color: rgb(75, 75, 75);
  text-align:center;
  height: 50px;	
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
} */
#company li{
  text-align: center;
  display: flex;
}

#company button{
  background:#222;
  color:#fff;
  padding:10px;
  border:0;
}

/* FOOTER */
#main-footer{
  background:#56a79a;
  color:#fff;
}

/* PAGE */
#page{
  margin-bottom:40px;
}

/* SERVICES */
.services ul li{
  list-style:none;
  padding:10px;
}

.services ul li:nth-child(odd){
  background:#333;
  color:#fff;
}

.services ul li:nth-child(even){
  background:#56a79a;
  color:#fff;
}

/* CONTACT */
.contact form{
  background:#333;
  color:#fff;
  padding:20px;
}

.contact form input[type="text"]{
  width:50%;
  height:30px;
  margin-bottom:10px;
}

.contact form textarea{
  width:50%;
  height:100px;
}

.contact form button{
  width:50%;
  padding:10px 0;
  border:0;
  background:#222;
  color:#fff;
}

.contact form label{
  text-transform:uppercase;
}

/* MEDIA QUERIES */
@media(max-width:800px){
  #showcase h1{
    font-size:30px;
  }
}

@media(max-width:500px){
  #showcase .showcase-content{
    padding:40px 10px;
  }
}
    @media(max-width:600px){
    #feature1 p2{
        margin-right: 50px;
        padding-left: 200px;
        
        }
    }
    
    @media(max-width:600px){
        .paragraph{
         text-align: center;
            
        }
        }
        
    @media(max-width:2000px){
  #feature1 .section-last {
        margin-top: -10%;
      
       
        
        }
    }
    
    @media(max-width:600px){
    #feature1 img{
         margin-top:-5000px;
        
        
        }
    }
    
    
   
     @media(max-width:600px){
    #feature1 img{
         display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
        
        
        }
    }
   